<div id="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
      <div class="main-content">
          <router-outlet></router-outlet>
          <app-right-sidebar *ngIf="router.url == '/admin'"></app-right-sidebar>
      </div>
</div><!-- end of wrapper -->
