*{margin:0;padding:0;outline:none;}
body{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif !important;
}
html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f4f6f8 !important;
}
html{width:100%;height:100%;}
html,
body{height:100%;}
#wrapper .ht1{font-size:36px;margin:10px 0px;}
#wrapper .ht2{font-size:30px;margin:10px 0px;}
#wrapper .ht3{font-size:24px;margin:10px 0px;}
#wrapper .ht4{font-size:20px;margin:10px 0px;}
#wrapper .ht5{font-size:17px;margin:10px 0px;}
#wrapper .ht6{font-size:14px;margin:10px 0px;}
#wrapper a:focus,
#wrapper a:hover{text-decoration:none;}
.clear{margin:0px;padding:0px;clear:both;}
#wrapper p{font-size:13px;letter-spacing:0.6px;color:#333;}
#wrapper .t10{font-size: 10px;}
#wrapper .t11{font-size: 11px;}
#wrapper .t12{font-size: 12px;}
#wrapper .t13{font-size: 13px;}
#wrapper .t14{font-size: 14px;}
#wrapper .t15{font-size: 15px;}
#wrapper .t16{font-size: 16px;}
#wrapper .t17{font-size: 17px;}
#wrapper .t18{font-size: 18px;}
#wrapper .t20{font-size: 20px;}
#wrapper .t22{font-size: 22px;}
#wrapper .t24{font-size: 24px;}
#wrapper .t28{font-size: 28px;}
#wrapper .t30{font-size: 30px;}
#wrapper .t34{font-size: 34px;}
#wrapper .t36{font-size: 36px;}
#wrapper .t40{font-size: 40px;}
#wrapper .l10{line-height: 10px;}
#wrapper .l12{line-height: 12px;}
#wrapper .l14{line-height: 14px;}
#wrapper .l16{line-height: 16px;}
#wrapper .l18{line-height: 18px;}
#wrapper .l20{line-height: 20px;}
#wrapper .l24{line-height: 24px;}
#wrapper .l28{line-height: 28px;}
#wrapper .l30{line-height: 30px;}
#wrapper .l36{line-height: 36px;}
#wrapper .l40{line-height: 40px;}
#wrapper .btn.active.focus, 
#wrapper .btn.active:focus, 
#wrapper .btn.focus, 
#wrapper .btn:active.focus, 
#wrapper .btn:active:focus, 
#wrapper .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#wrapper .marg0{
  margin: 0px;
}
#wrapper .margL{
  margin-left: 0px;
}
#wrapper .margR{
  margin-right: 0px;
}
#wrapper .margT{
  margin-top: 0px;
}
#wrapper .margB{
  margin-bottom: 0px;
}
#wrapper .padd0{
	padding: 0px;
}
#wrapper .paddL{
	padding-left: 0px;
}
#wrapper .paddR{
	padding-right: 0px;
}
#wrapper .paddT{
  padding-top: 0px;
}
#wrapper .paddB{
  padding-bottom: 0px;
}
#wrapper .textUpper{
  text-transform: uppercase;
}
#wrapper .light{
  font-weight: 300;
}
#wrapper .normal{
  font-weight: 400;
}
#wrapper .bold{
  font-weight: 600;
}
#wrapper .bolder{
  font-weight: 700;
}
#wrapper .bg-grey{
  background-color: #f3f3f3;
}
#wrapper .bg-white{
  background-color: #fff;
}
#wrapper .bg-yel{
  background-color: #d4ae62;
}
#wrapper .bg-why{
  background-color: rgba(60, 58, 79, 1);
}
#wrapper .white{
  color: #fff;
}
#wrapper .yel{
  color: #d4ae62;
}
#wrapper .why{
  color: rgba(60, 58, 79, 1);
}
#wrapper .grey{
  color: #999;
}
#wrapper .grey2{
  color: #777;
}
#wrapper .grey3{
  color: #666;
}
#wrapper .grey4{
  color: #444;
}
#wrapper .black{
  color: #000;
}
#wrapper .black2{
  color: #222;
}
#wrapper .black3{
  color: #333;
}
#wrapper .green{
  color: #4CAF50;
}
#wrapper .dblue{
  color: #00084b;
}
#wrapper .blue{
  color: #1d235f;
}
#wrapper .blue2{
  color: #43467f;
}
#wrapper .btn-blue{
    color: #fff;
    background-color: #00084b;
    border-color: #00084b;
}
#wrapper .btn-blue:hover{
    color: #fff;
    background-color: #1d235f;
    border-color: #1d235f;
}
#wrapper .btn-blue2{
    color: #fff;
    background-color: #1d235f;
    border-color: #1d235f;
}
#wrapper .btn-blue2:hover{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}
#wrapper .btn-blue3{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}
#wrapper .btn-blue3:hover{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}

#wrapper .btn-yel{
    color: #fff;
    background-color: #d4ae62;
    border-color: #d4ae62;
}
#wrapper .btn-yel:hover{
    color: #fff;
    background-color: #af8738;
    border-color: #af8738;
}
#wrapper .btn-why{
    color: #fff;
    background-color: rgba(60, 58, 79, 1);
    border-color: rgba(60, 58, 79, 1);
}
#wrapper .btn-why:hover{
    color: #fff;
    background-color: rgba(60, 58, 79, 0.77);
    border-color: rgba(60, 58, 79, 0.77);
}
#wrapper .btn-yel2{
    color: #d4ae62;
    border-color: #d4ae62;
}
#wrapper .btn-yel2:hover{
    color: #fff;
    background-color: #af8738;
    border-color: #af8738;
}
#wrapper .btn-why2{
    color: rgba(60, 58, 79, 1);
    border-color: rgba(60, 58, 79, 1);
}
#wrapper .btn-why2:hover{
    color: #fff;
    background-color: rgba(60, 58, 79, 0.77);
    border-color: rgba(60, 58, 79, 0.77);
}

#wrapper .btn-green{
    color: #fff;
    border-color: #79b530;  
    background-color: #79b530;
    transition: all 0.4s;
}
#wrapper .btn-green:hover{
    color: #fff;
    border-color: #79b530;  
    background-color: #79b530;
}
#wrapper .btn-red{
    color: #f44336;
    border-color: #f44336;  
    transition: all 0.4s;
}
#wrapper .btn-red:hover{
    color: #fff;
    border-color: #f44336;  
    background-color: #f44336;
}
#wrapper .btn-white{
    color: #b3b3b3;
    border-color: #b3b3b3;  
    transition: all 0.4s;
}
#wrapper .btn-white:hover{
    color: #444;
    border-color: #b3b3b3;  
    background-color: #b3b3b3;
}
#wrapper .heading{
  display: block;
  background-color: #fff;
  padding: 7px 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
#wrapper .margTop51{
  margin-top: 51px;
}
#wrapper .margTop71{
  margin-top: 71px;
}
#wrapper .margTop101{
  margin-top: 101px;
}

#wrapper{
	margin: 0px;
	padding: 0px;
	display: block;
	position: relative;
}

#wrapper .TopMenu .logo{
  width: 237px;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  min-height: 55px;
  background-color: #010f4b;
}
#wrapper .TopMenu{
  display: block;
  min-height: 55px;
  background-color: #1c2260;
  margin: 0px;
  border: none;
}
.userlogin{
}
#wrapper .userlogin a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 20px;
    padding-right: calc(.8rem + constant(safe-area-inset-right));
    padding-right: calc(.8rem + env(safe-area-inset-right));
}
#wrapper .userlogin a:hover,
#wrapper .userlogin a:focus{
    background-color: hsla(0,0%,100%,.08);
}
.userlogin a .userimg,
.userlogin a .userDiv{
  display: block;
  margin-right: 10px;
}
.userlogin a .userimg{
  padding-top: 10px;
}
.userlogin a .userDiv .tth,
.userlogin a .userDiv .smc{
  display: inline-block;
  color: #fff;
  font-size: 13px;
}
.userlogin a .userDiv .smc{
  color: rgba(255,255,255,0.7);
  font-size: 12px;
}
.userlogin .userimg:before{
  font-size: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.userlogin .dropdown-menu{
  min-width: 191px;
}
.userlogin .dropdown-menu i{
  margin-right: 7px;
}
.userlogin .dropdown-menu li a:hover{
    background-color: #f4f5fa !important;
}

.serachDivUser{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.searchpanel{
  width: 100%;
  float: left;
  padding: 8px 20px;
  border-right: solid 1px #010e4b;
}
.searchpanel input.form-control{
  background-color: #43467f;
  border-color: #43467f;
  box-shadow: none;
  color: #fff;
  font-size: 15px;
  height: 40px;
  letter-spacing: 1px;
  font-weight: 300;
}
.searchpanel .btn-default,
.searchpanel .btn-default:hover,
.searchpanel .btn-default:focus{
  color: #fff;
  background-color: #43467f;
  border-color: #43467f;
  height: 40px;
}
.searchpanel input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.searchpanel input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.searchpanel input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.searchpanel input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

#wrapper [class^="flaticon-"]:before, 
#wrapper [class*=" flaticon-"]:before, 
#wrapper [class^="flaticon-"]:after, 
#wrapper [class*=" flaticon-"]:after{
  margin-left: 0px;
}




#wrapper .menubar{
  width: 237px;
  display: block;
  transition: all 0.4s;
  border-radius: 0px;
  border-right: solid 1px #eee;
  min-height: 100vh;
  overflow: auto;
  padding-top: 70px;
  margin-bottom: 0px;
  position: fixed;
}
#wrapper .menubar .collapse{
  margin: 0;
  padding: 0;
}
#wrapper .menubar .nav{
  margin-top: 0px;
  margin-bottom: 20px;
}
#wrapper .menubar .nav>li{
  width: 100%;
  display: block;
}
#wrapper .menubar .nav>li>a {
  position: relative;
  display: block;
  padding: 9px 7px;
  font-size: 14px;
  font-weight: 600;
  color: #212b36;
  transition: all 0.4s;
}
#wrapper .menubar .nav>li i,
#wrapper .menubar .nav .dropdown i{
  margin-right: 6px;
  margin-left: 0px;
  padding: 0px;
  color: #919eab;
}
#wrapper .menubar .nav>li>a:hover,
#wrapper .menubar .nav>li>a:focus,
#wrapper .menubar .nav>li a:hover i,
#wrapper .menubar .nav>li.active a,
#wrapper .menubar .nav>li.active a i{
  color: #5c6ac4;
  background-color: transparent;
}
#wrapper .menubar .nav .lst{
  padding: 8px 11px 0; 
}
#wrapper .menubar .dropdown-menu{
  margin: 0px;
  padding: 0px;
}
#wrapper .menubar .dropdown-menu>li{
  margin: 0px;
}
#wrapper .menubar .dropdown a {
  position: relative;
  display: block;
  padding: 9px 7px;
  font-size: 14px;
  font-weight: 600;
  color: #212b36;
  transition: all 0.4s;
}
#wrapper .menubar .dropdown-menu>li>a {
  position: relative;
  display: block;
  padding: 9px 7px;
  font-size: 14px;
  font-weight: 600;
  color: #212b36;
  transition: all 0.4s;
}
#wrapper .menubar .dropdown-menu>li>a:hover{
  color: #5c6ac4;
}
#wrapper .menubar .navbar-nav>.open>a, 
#wrapper .menubar .navbar-nav>.open>a:focus, 
#wrapper .menubar .navbar-nav>.open>a:hover {
  color: #5c6ac4;
  background-color: transparent;
}








.page__sidebar{
  z-index: 221;
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 60px 0 0;
  max-width: 380px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #fff;
  overflow: auto;
}

.btn_cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  padding: 0px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
}
.next-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 0px);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dropinfo .btn_cell .btn-info.active{
  background-color: #eee;
}
.padd_card{
  padding: 15px;
  border-top: 1px solid #ebeef0;
}
.padd_card .htt{
  margin-bottom: 15px;
}
.listsales{
  display: inline-block;
  width: 100%;
}
.listsales li a{
  display: block;
  margin-left: -1.6rem;
  margin-right: -1.6rem;
  padding: 10px 15px;  
  border-top: 1px solid #dfe3e8;
}
#wrapper .listsales li:hover a{
    background-color: #f4f5fa !important;
}
.listsales .ui-stack--alignment-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.listsales .ui-stack {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.listsales .ui-stack-item--fill {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.listsales .ui-stack-item {
    min-width: 0;
    max-width: 100%;
}
#wrapper .listsales .type--number {
    font-size: 2rem;
    line-height: 2.8rem;
}
#wrapper .listsales .type--subdued {
    color: #637381;
}
#wrapper .listsales p{
  margin:0.2em 0;
}





.main-content {
  position: relative;
  margin-left: 237px;
  padding-top: 67px;
}
.page-content{
  margin-right: 380px;
  padding: 15px;
}

.wrapdiv{
}
.listIndiv{
  display: inline-block;
  width: 100%;
}
.listIndiv li {
  height: 128px;
  border: 1px solid #c4cdd5;
}


.page-product{
  display: block;
  padding: 10px 40px;
}
.listDiv{
  margin-top: 7px;
  display: inline-block;  
}
.listDiv li a{
  color: #637381;
  font-size: 14px;
  padding: 10px 10px 0px 0px;
}

#wrapper .add-btn {
  line-height: 24px;
  margin-top: -10px;
}
#wrapper .add-btn i{
  float: left;
  margin-right: 7px;
}


.productlist{
  display: block;
  padding: 10px 40px;
  background-color: #fff;
}
.prodSearch{
}
.prodSearch input,
.prodSearch .btn{
  height: 40px;
  box-shadow: none;
}


.tableProdList{
  margin-top: 20px;
}
.tableProdList .htt{
  display: block;
  font-size: 14px;
  color: #673ab7;
}
.tableProdList .smt{
  color: #999;
  font-size: 13px;
}
.tableProdList tbody>tr>td, 
.tableProdList tbody>tr>th, 
.tableProdList tfoot>tr>td, 
.tableProdList tfoot>tr>th, 
.tableProdList thead>tr>td, 
.tableProdList thead>tr>th {
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.tableProdList .tmimg{
  width: 70px;
  max-height: 100px;
}
.tableProdList .intCheck{
  zoom: 1.3;
}

.listTBP{
  display: block;
  padding: 10px 0;
  background: #fff;
  width: 100%;
}




#wrapper .fixedpanel {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    display: inline-block;
    vertical-align: top;
    z-index: 9;
}

.ui-layout {
  display: block;
}
.ui-card {
  padding:15px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
.ui-head{
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
#wrapper .ui-head label{
  font-weight: 600;
  font-size: 17px;
}
#wrapper .ui-head label a{
  font-size: 15px;
  font-weight: 400;
}
.formpanel label{
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
  cursor: pointer;
}
#wrapper .formpanel input.form-control,
#wrapper .formpanel select.form-control{
  height: 37px;
  line-height: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  -webkit-transition-property: background, border, -webkit-box-shadow;
  transition-property: background, border, -webkit-box-shadow;
  transition-property: background, border, box-shadow;
  transition-property: background, border, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
  box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
  border-color: #c4cdd5;
  padding: 5px 10px;
}
#wrapper .formpanel textarea.form-control{
  height: auto;
}
#wrapper .formpanel select.form-control:focus,
#wrapper .formpanel input.form-control:focus,
#wrapper .formpanel textarea.form-control:focus{
    border: 1px solid #5c6ac4;
    -webkit-box-shadow: 0 0 0 1px #5c6ac4;
    box-shadow: 0 0 0 1px #5c6ac4;
}

#wrapper .formpanel .btn {
  padding: 7px 12px;
  font-size: 15px;
}
.uploadImg{
  text-align: center;
}

#wrapper .bg-none{
  background-color: transparent;
}

.fixin{
  position: relative;
}
.fixin .GT{
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  margin: 9px 10px; 
  color: #999; 
  top: 0;
}
#wrapper .fixin input:focus + .GT{
  color: #111;
}
#wrapper .fixin input.form-control{
  padding-left: 23px;
}



.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox label input[type="checkbox"] + .cr,
.radio label input[type="radio"] + .cr{
  border: solid 1px #5c6ac4;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon:before,
.radio label input[type="radio"] + .cr > .cr-icon:before{
  color: #5c6ac4;
  font-size: 15px;
  margin: -2px;
}



#wrapper .listmanage li{
  border-radius: 0px;
  padding: 0px;
}
#wrapper .listmanage li .checkbox{
  padding: 0px;
  margin: 0px;
}
#wrapper .listmanage li .checkbox label{
  width: 100%;
  padding: 15px;
  margin: 0px;
}
#wrapper .listmanage li .checkbox .cr{
  margin-right: 20px
}
.admin_logo{
  height: 30px;
}










