<section class="sectionpanel sliderpanel bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h1 class="t24">Future Ready Connected Smart Commerce</h1>
                <ul class="list-unstyled listpoint">
                    <li>Create Your Online Store in minutes</li>
                    <li>Power your creative business with Art commerce Pro</li>
                    <li>Sell on multiple platforms & sync inventory</li>
                    <li>Connect your offline store or In-person sale</li>
                    <li>Sync Your Inventory & Orders from Offline Store</li>
                    <li>Grow business with builtin Marketing Automation</li>
                    <li>Take right decisions with Advanced Analytics</li>
                    <li>Scale your business with Powerful Tools & Open API</li>
                </ul>
            </div><!-- end of col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="../../assets/front/images/home-hero-c.webp" class="img-responsive imglaptop"  alt="">
            </div><!-- end of col -->
            <div class="clear"></div><!-- end of clear -->
            <div class="text-center">
                <a routerLink="register" class="btn btn-blue registerBtn">Start your free trial</a>
            </div><!-- end of -->
        </div><!-- end of container -->
    </div>    
</section><!-- end of sliderpanel -->
    
    
<section class="sectionpanel bg-grey">
    <div class="container">
        <div class="row">
            <h2 class="t30 text-center">Why Glorify ?</h2>
            <p class="t17 text-center">"Transform Your Hobby into Creative International Online Business in Minutes!"</p>
            
            <ul class="list-unstyled listpoints">
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <div class="points t40">01</div><!-- end of points -->
                    <div class="contentDiv">
                        <h3 class="t24">FAST & EASY</h3>
                        <p class="15">Get started in no time with easy to build customisable website design themes, User-friendly admin panel and  prebuilt art business tools</p>
                    </div><!-- end of contentDiv -->
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <div class="points t40">02</div><!-- end of points -->
                    <div class="contentDiv">
                        <h3 class="t24">SECURE & RELIABLE</h3>
                        <p class="15">With secure hosting, 99.99% uptime, robust e-commerce tools, integrated payment and shipping do reliable business transactions all the time.</p>
                    </div><!-- end of contentDiv -->
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <div class="points t40">03</div><!-- end of points -->
                    <div class="contentDiv">
                        <h3 class="t24">FUTURE READY</h3>
                        <p class="15">With Pre-built AR tools, tools, AI Powered Marketing Automation, Data Science/ML driven Analytics your business is Future Ready</p>
                    </div><!-- end of contentDiv -->
                </li>
            </ul><!-- end of listpoints -->

        </div><!-- end of row -->
    </div><!-- end of container -->
</section><!-- end of sliderpanel -->
    
    
    
    
    <section class="sectionpanel bg-white">
        <div class="container-fluid">
            <div class="row">
    
    
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img src="../../assets/front/images/home-carousel-uspatriot.webp" class="imgup" class="img-responsive" alt="" />
                </div><!-- end of col -->
            
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h2 class="t30">Why Glorify ?</h2>
                    <p class="t17">"Transform Your Hobby into Creative International Online Business in Minutes!"</p>
                    <hr/>
                    <ul class="list-unstyled listfeature">
                        <li class="col-md-6 col-sm-12 col-xs-12">Build Your Own Brand Website in minutes for Free</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">Sell on Facebook Google Shop & Other Social Media</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">Sell Everywhere</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">on Multi-Channels Like  Amazon & Ebay</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">Add Shop Button to Blog & Social Media Articles </li>
                        <li class="col-md-6 col-sm-12 col-xs-12">Sell on PixaLens</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">Stock Image Marketplace</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">On-Demand Print Fulfilment Service</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">Connect Offline Store and Sync with Glorify PoS</li>
                        <li class="col-md-6 col-sm-12 col-xs-12">Sync & Sell on  Art Marketplace Nakshi.com</li>
                    </ul><!-- end of listfeature -->
                </div><!-- end of col -->
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section><!-- end of sliderpanel -->
    
    
    
    
<section class="sectionpanel pricingPanel bg-grey" id="priceSection">
    <div class="container">
        <div class="row">

            <h2 class="t30 text-center">Pricing</h2>
            <p class="t17 text-center" style="max-width: 70%;margin: auto;">Our plans are designed for all levels of businesses and armed with powerful tools necessary to start, grow, scale and transform your business</p>
            <hr/>

            <ul class="list-unstyled listprice">
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <h4 class="ht3">Lite</h4>
                    <p>Take Your hobby to online by creating an online store and sharing on social media to let people know </p>
                    <i class="fa fa-long-arrow-right"></i>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <h4 class="ht3">Essential</h4>
                    <p>Essential Get started with Own branded  beautiful website and unlimited products and selling on Facebook</p>
                    <i class="fa fa-long-arrow-right"></i>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <h4 class="ht3">Plus</h4>
                    <p>Grow Your Business  by increasing traffic by Selling on Facebook & Google shop, Nakshi, Pixalens and more </p>
                    <i class="fa fa-long-arrow-right"></i>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <h4 class="ht3">Pro</h4>
                    <p>Scale your business with powerful pre-built engagement automation and analytics tools  by expanding on multi-channels</p>
                    <i class="fa fa-long-arrow-right"></i>
                </li>
            </ul>

            <p class="t17 text-center" style="max-width: 70%;margin: auto;">Check detail list of features and tools included in each plan before choosing an appropriate plan for you.</p>
            <br/>
            <div class="text-center">
            <a routerLink="pricing" class="btn btn-blue registerBtn">Explore More</a>
            </div><!-- end of -->

        </div><!-- end of row -->
    </div><!-- end of container -->
</section><!-- end of sliderpanel -->
    
    
<section class="sectionpanel CommercePro bg-white">
    <div class="container">
        <div class="row">

            <h2 class="t30 text-center">Art Commerce Pro</h2>
            <p class="t15 text-center" style="max-width: 70%;margin: auto;">Artist Pro is a game changer for Artists, Photographers, Pattern Designers and Other Creative Businesses. Make most of your creativity and transform into future-ready Art commerce.</p>
            <hr/>

            <ul class="list-unstyled listPro">
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <div class="imgbox">
                        <img src="../../assets/front/images//pics.webp" alt="">
                    </div>
                    <div class="contentDiv text-center">
                        <a href="#!" class="btn btn-green rebtn">Art Merchandise Customiser</a>
                        <h3>Art Prints On Demand</h3>
                        <p>Make most of your painting, photograph or pattern design On-demand print customiser module and fulfilment service</p>
                        <a href="#!" class="t14 more">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div><!-- end of contentDiv -->
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <div class="imgbox">
                        <img src="../../assets/front/images//pics2.webp" alt="">
                    </div>
                    <div class="contentDiv text-center">
                        <a href="#!" class="btn btn-green rebtn">Virtual Art Gallery</a>
                        <h3>Virtual Art Gallery</h3>
                        <p>Give museum-like artwork browsing experience to online customers and increase conversion. </p>
                        <a href="#!" class="t14 more">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div><!-- end of contentDiv -->
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <div class="imgbox">
                        <img src="../../assets/front/images//pics3.png" alt="">
                    </div>
                    <div class="contentDiv text-center">
                        <a href="#!" class="btn btn-green rebtn">Augumented Reality Home Studio</a>
                        <h3>AR Powered Home Studio</h3>
                        <p>Help customers make a quick buying decision by instantly visualising artwork in their home and boost engagement.</p>
                        <a href="#!" class="t14 more">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div><!-- end of contentDiv -->
                </li>
            </ul>

            <div class="clear"></div>
            <br/>

            <p class="t17 text-center" style="max-width: 70%;margin: auto;">Explore more on all Artists Focus tools and services to take your creative business to next level and grow it with leaps and bounds.</p>
            <br/>
            <div class="text-center">
            <a href="#!" class="btn btn-blue registerBtn">Explore More Details</a>
            </div><!-- end of -->

        </div><!-- end of row -->
    </div><!-- end of container -->
</section><!-- end of sliderpanel -->
    
    
    
    
<section class="sectionpanel contactINfo">
    <div class="container">
        <div class="row">

            <h2 class="t30 text-center">CONTACT US</h2>
            <p class="t15 text-center" style="max-width: 70%;margin: auto;">To register an interest & get more information or to schedule a product demo with one of our product consultants, please fill in your contact details</p>
            <br/>

            <form class="formbox">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="">
                </div><!-- end of from-group -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="">
                </div><!-- end of from-group -->
                <div class="form-group">
                    <label>Massage</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div><!-- end of from-group -->
                <div class="form-group">
                    <input type="text" class="btn btn-green" name="" value="Send">
                </div><!-- end of from-group -->
            </form>

        </div><!-- end of row -->
    </div><!-- end of container -->
</section><!-- end of sliderpanel -->