<section class="page-product">

  <div class="prodHead">
      <a href="all-products.html" class="ht5"><i class="fa fa-angle-left fa-fw"></i> Products</a>
      <h2 class="ht3">Add product</h2>
  </div><!-- end of prodHead -->
  
  <div class="clear"></div><!-- end of clear -->
  
  <div class="ui-layout">
  <div class="row">
  
  <div class="col-md-8 col-sm-8 col-xs-12">
  
      <div class="ui-card formpanel">
          <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Short Sleeve T-Shirt" name="" />
          </div><!-- end of form-group -->
          <div class="form-group">
              <label>Description</label>
              <textarea rows="4" class="form-control"></textarea>
          </div><!-- end of form-group -->
      </div><!-- end of ui-card -->
  
      <div class="ui-card formpanel">
          <div class="ui-head">
              <label class="bold">Images <a href="#" class="pull-right" class="normal">Upload Image</a></label>
          </div><!-- end of ui-head -->
          <div class="form-group">    
              <div class="uploadImg">
                  <img src="images/" alt="" />
                  <h4 class="ht6 grey">
                      <img src="images/image.png" alt="" /><br/>
                      Drop files to upload
                  </h4>
              </div><!-- end of uploadImg -->
          </div><!-- end of form-group -->
      </div><!-- end of ui-card -->
  
      <div class="ui-card formpanel">
          <div class="ui-head">
              <label class="bold">Pricing</label>
          </div><!-- end of ui-head -->
          <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>Price</label>
              <div class="fixin">
                  <input type="text" class="form-control" placeholder="0.0" name="" />
                  <span class="GT">$</span>
              </div><!-- end of fixin -->
          </div><!-- end of form-group -->
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>Compare at price</label>
              <div class="fixin">
                  <input type="text" class="form-control" placeholder="" name="" />
                  <span class="GT">$</span>
              </div><!-- end of fixin -->
          </div><!-- end of form-group -->
          <div class="form-group col-md-6 col-sm-6 col-xs-12 padd0">
          <div class="checkbox">
              <label>
                  <input type="checkbox" value="" checked="checked">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  Charge taxes on this product
              </label>
          </div><!-- end of checkbox -->
          </div><!-- end of form-group -->
          </div><!-- end of row -->
      </div><!-- end of ui-card -->    
  
  
      <div class="ui-card formpanel">
          <div class="ui-head">
              <label class="bold">Inventory</label>
          </div><!-- end of ui-head -->
          <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>SKU (Stock Keeping Unit)</label>
              <input type="text" class="form-control" placeholder="" name="" />
          </div><!-- end of form-group -->
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>Barcode (ISBN, UPC, GTIN, etc.)</label>
              <input type="text" class="form-control" placeholder="" name="" />
          </div><!-- end of form-group -->
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>Inventory policy</label>
              <select class="form-control">
                  <option>Don't track inventory</option>
                  <option>Shopify tracks this product's inventory</option>
              </select>
          </div><!-- end of form-group -->
          </div><!-- end of row -->
      </div><!-- end of ui-card -->
  
      <div class="ui-card formpanel">
          <div class="ui-head">
              <label class="bold">Shipping</label>
          </div><!-- end of ui-head -->
          <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12 padd0">
          <div class="checkbox">
              <label>
                  <input type="checkbox" value="" checked="checked">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  This is a physical product
              </label>
          </div><!-- end of checkbox -->
          </div><!-- end of form-group -->
  <div class="clear"></div><!-- end of clear -->
  <hr/>
  
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>WEIGHT</label>
              <label class="grey">Used to calculate shipping rates at checkout.</label>
              <div class="input-group">
                  <input type="text" class="form-control">
                  <div class="input-group-btn">
                  <select class="form-control" style="width: 70px">
                      <option>lb</option>
                      <option>oz</option>
                      <option>kg</option>
                      <option>g</option>
                  </select>
                  </div>
              </div><!-- end of input-group -->
          </div><!-- end of form-group -->
  <div class="clear"></div><!-- end of clear -->
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>INTERNATIONAL CUSTOMS</label>
              <label class="grey">HS tariff code (look up code)</label>
              <input type="text" class="form-control" placeholder="" name="" />
          </div><!-- end of form-group -->
  <div class="clear"></div><!-- end of clear -->
  <hr/>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label>FULFILLMENT SERVICE</label>
              <select class="form-control">
                  <option>Manual</option>
              </select>
          </div><!-- end of form-group -->
          </div><!-- end of row -->
      </div><!-- end of ui-card -->    
  
      <div class="ui-card formpanel">
          <div class="ui-head">
              <label class="bold">Variants <a href="#!" data-toggle="collapse" data-target="#VariantsDiv" class="pull-right">Add variant</a></label>
          </div><!-- end of ui-head -->
          <p>Add variants if this product comes in multiple versions, like different sizes or colors.</p>
  
  <div id="VariantsDiv" class="collapse">
  <div class="clear"></div><!-- end of clear -->
  <hr/>
      <table id="myTable" class="table order-list">
      <thead>
          <tr>
              <td>Option Name</td>
              <td>Option Value</td>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="col-sm-4">
                  <input type="text" name="name" value="Size" class="form-control" />
              </td>
              <td class="col-sm-4">
                  <input type="text" name="" placeholder="Separate options with a comma" class="form-control"/>
              </td>
              <td class="col-sm-2"><a class="deleteRow"></a>
  
              </td>
          </tr>
      </tbody>
      <tfoot>
          <tr>
              <td colspan="5" style="text-align: left;">
                  <input type="button" class="btn btn-default" id="addrow" value="Add another option" />
              </td>
          </tr>
          <tr>
          </tr>
      </tfoot>
  </table>
  </div><!-- end of VariantsDiv -->
  
      </div><!-- end of ui-card -->
  
  
      <div class="ui-card formpanel">
          <div class="ui-head">
              <label class="bold">Search engine listing preview <a href="#!" data-toggle="collapse" data-target="#seoDiv" class="pull-right">Edit website SEO</a></label>
          </div><!-- end of ui-head -->
          <p>Add a title and description to see how this product might appear in a search engine listing.</p>
  
          <div id="seoDiv" class="collapse">
          <div class="clear"></div><!-- end of clear -->
          <hr/>
          <div class="row">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <label>Page title <span class="pull-right grey">0 of 70 characters used</span></label>
              <input type="text" class="form-control" placeholder="" name="" />
          </div><!-- end of form-group -->
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <label>Meta description <span class="pull-right grey">0 of 320 characters used</span></label>
              <textarea rows="4" class="form-control"></textarea>
          </div><!-- end of form-group -->
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <label>URL and handle</label>
              <input type="text" class="form-control" placeholder="https://www.gift2care.com/products/" name="" />
          </div><!-- end of form-group -->
  
          </div><!-- end of row -->
          </div><!-- end of VariantsDiv -->
      </div><!-- end of ui-card -->    
  
  
  </div><!-- end of col -->
  
  
  <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="ui-card ">
          <h3 class="ht5 bold">Sales channels <a href="#manage" data-toggle="modal" class="pull-right normal t15">
          Manage</a></h3>
          <p class="grey">Available on 15 of 16</p>
      </div><!-- end of ui-card -->
      <ul class="list-group">
        <li class="list-group-item">Facebook</li>
        <li class="list-group-item">Point of Sale</li>
        <li class="list-group-item">Messenger
          <p class="grey">Messenger is disconnected. Reconnect to continue using this sales channel. <a href="#Messengermore" data-toggle="modal">Learn more</a></p>
        </li>
        <li class="list-group-item">Buy Button</li>
        <li class="list-group-item">Lyst</li>
        <li class="list-group-item">Amazon</li>
        <li class="list-group-item">eBay</li>
        <li class="list-group-item">Houzz</li>
        <li class="list-group-item">BuzzFeed</li>
        <li class="list-group-item">Wanelo</li>
        <li class="list-group-item">Kik</li>
        <li class="list-group-item">Pinterest</li>
        <li class="list-group-item">Instagram</li>
        <li class="list-group-item">SiBi - See It Buy It</li>
        <li class="list-group-item">Couture Lane</li>
      </ul>   
      <div class="ui-card bg-none formpanel">
          <h4 class="ht5 bold">Organization</h4>
          <div class="form-group">
              <label>Product type</label>
              <input type="text" class="form-control" name="" placeholder="" />
          </div><!-- end of form-group -->
          <div class="form-group">
              <label>Vendor</label>
              <input type="text" class="form-control" name="" placeholder="" />
          </div><!-- end of form-group -->
      </div><!-- end of ui-card -->         
      <div class="ui-card bg-none formpanel">
          <div class="form-group">
              <label>Collections</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div><!-- /input-group -->
              <small class="grey">Add this product to a collection so it’s easy to find in your store.</small>
          </div><!-- end of form-group -->
      </div><!-- end of ui-card -->         
      <div class="ui-card bg-none formpanel">
          <div class="form-group">
              <label>Tags</label>
              <label><a href="#viewtags" data-toggle="modal">View all tags</a></label>
              <input type="text" class="form-control" name="" placeholder="Vintage, cotton, summer" />
          </div><!-- end of form-group -->
      </div><!-- end of ui-card -->         
  
      <div class="ui-card bg-none formpanel">
          <h4 class="ht5 bold">Theme templates</h4>
          <div class="form-group">
              <label>Product template</label>
              <select class="form-control">
                  <option>Product</option>
                  <option>Product.lightbox</option>
              </select>
              <small class="grey">The template customers see when viewing this product in your store.</small>
          </div><!-- end of form-group -->
      </div><!-- end of ui-card -->         
  
  </div><!-- end of col -->
  
  </div><!-- end of row -->
  </div><!-- end of ui-layout -->
  
  <div class="clear"></div>
  <hr/>
  <div class="pull-right" style="margin-bottom: 30px;">
  <a href="#!" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-blue3">Save product</button>
  </div>
  
  
  
  </section><!-- end of page-product -->

  