<div class="page__sidebar">
  <div class="padd_card">    
  <div class="next-grid dropinfo">
  <select class="dropinfo btn_cell">
      <option>All channels</option>
      <option>Buy Button</option>
      <option>Shopify POS (37 Devon Waye)</option>
      <option>Facebook</option>
      <option>Pinterest</option>
      <option>Wanelo</option>
      <option>Online Store</option>
      <option>Messenger</option>
      <option>Amazon</option>
      <option>Houzz</option>
      <option>SiBi - See It Buy It</option>
      <option>Kik</option>
      <option>BuzzFeed</option>
      <option>eBay</option>
      <option>Lyst</option>
      <option>Couture Lane</option>
      <option>Instagram</option>
      <option>Other</option>
  </select>
  <select class="dropinfo btn_cell">
      <option>All channels</option>
      <option>Buy Button</option>
      <option>Shopify POS (37 Devon Waye)</option>
      <option>Facebook</option>
      <option>Pinterest</option>
      <option>Wanelo</option>
      <option>Online Store</option>
      <option>Messenger</option>
      <option>Amazon</option>
      <option>Houzz</option>
      <option>SiBi - See It Buy It</option>
      <option>Kik</option>
      <option>BuzzFeed</option>
      <option>eBay</option>
      <option>Lyst</option>
      <option>Couture Lane</option>
      <option>Instagram</option>
      <option>Other</option>
  </select>
  </div><!-- end of next-grid -->
  </div><!-- end of padd_card -->
  
  <div class="padd_card">    
      <h4>Graph here</h4>
  </div><!-- end of padd_card -->
  
  <div class="padd_card">    
      <a href="#!">View dashboard</a>
  </div><!-- end of padd_card -->
  
  <div class="padd_card">    
      <div class="htt t13 black">TOTAL SALES BY CHANNEL <span class="pull-right grey">Jun 19</span></div>
      <ul class="list-unstyled listsales">
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
          <li>
              <a href="#!">
                  <p>Shopify POS (37 Devon Waye)</p>
                  <div class="ui-stack ui-stack--alignment-baseline">
                  <div class="ui-stack-item ui-stack-item--fill">
                  <p class="type--number">$0.00</p>
                  </div>
                  <div class="ui-stack-item">
                  <p class="type--subdued">0 orders</p>
                  </div></div>                
              </a>
          </li>
      </ul><!-- end of listsales -->
  </div><!-- end of padd_card -->
  
  </div><!-- end of sidebar -->