<nav class="navbar menubar">
  <div class="container-fluid">
      <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/admin"><i class="flaticon-home"></i> Home</a></li>
              <li><a routerLink="/admin/order"><i class="flaticon-structure"></i> Orders</a></li>
              <li><a routerLink="/admin/product"><i class="flaticon-price-tag"></i> Products</a></li>
              <li><a routerLink="/admin/customer"><i class="flaticon-user-1"></i> Customers</a></li>
              <li><a href="#"><i class="flaticon-bar-chart"></i> Analytics</a></li>
              <li><a href="#"><i class="flaticon-discount-1"></i> Discounts</a></li>
              <li><a href="#"><i class="flaticon-structure"></i> Apps</a></li>           
          </ul>
          <ul class="nav navbar-nav">
              <li class=""><a href="#">SALES CHANNELS <i class="flaticon-plus pull-right"></i></a></li>
              <li><a href="#"><i class="flaticon-shop"></i> Online Store</a></li>
              <li><a href="#"><i class="flaticon-facebook-app-logo"></i> Facebook</a></li>
              <li><a href="#"><i class="flaticon-placeholder-1"></i> Point of Sale</a></li>
              <li><a href="#"><i class="flaticon-messenger"></i> Messenger</a></li>
              <li><a href="#"><i class="flaticon-circles"></i> View all channels</a></li>
          </ul>
      </div>
  </div><!-- end of container-fluid -->
</nav><!-- end of menubar -->