*{margin:0;padding:0;outline:none;}
body{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif !important;
}
html, body {
    height: 100%;
}


#wrapper .ht1{font-size:36px;margin:10px 0px;}
#wrapper .ht2{font-size:30px;margin:10px 0px;}
#wrapper .ht3{font-size:24px;margin:10px 0px;}
#wrapper .ht4{font-size:20px;margin:10px 0px;}
#wrapper .ht5{font-size:17px;margin:10px 0px;}
#wrapper .ht6{font-size:14px;margin:10px 0px;}
#wrapper a:focus,
#wrapper a:hover{text-decoration:none;}
.clear{margin:0px;padding:0px;clear:both;}
#wrapper p{font-size:13px;letter-spacing:0.6px;color:#333;}
#wrapper .t10{font-size: 10px;}
#wrapper .t11{font-size: 11px;}
#wrapper .t12{font-size: 12px;}
#wrapper .t13{font-size: 13px;}
#wrapper .t14{font-size: 14px;}
#wrapper .t15{font-size: 15px;}
#wrapper .t16{font-size: 16px;}
#wrapper .t17{font-size: 17px;}
#wrapper .t18{font-size: 18px;}
#wrapper .t20{font-size: 20px;}
#wrapper .t22{font-size: 22px;}
#wrapper .t24{font-size: 24px;}
#wrapper .t28{font-size: 28px;}
#wrapper .t30{font-size: 30px;}
#wrapper .t34{font-size: 34px;}
#wrapper .t36{font-size: 36px;}
#wrapper .t40{font-size: 40px;}
#wrapper .l10{line-height: 10px;}
#wrapper .l12{line-height: 12px;}
#wrapper .l14{line-height: 14px;}
#wrapper .l16{line-height: 16px;}
#wrapper .l18{line-height: 18px;}
#wrapper .l20{line-height: 20px;}
#wrapper .l24{line-height: 24px;}
#wrapper .l28{line-height: 28px;}
#wrapper .l30{line-height: 30px;}
#wrapper .l36{line-height: 36px;}
#wrapper .l40{line-height: 40px;}
#wrapper .btn.active.focus, 
#wrapper .btn.active:focus, 
#wrapper .btn.focus, 
#wrapper .btn:active.focus, 
#wrapper .btn:active:focus, 
#wrapper .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#wrapper .marg0{
  margin: 0px;
}
#wrapper .margL{
  margin-left: 0px;
}
#wrapper .margR{
  margin-right: 0px;
}
#wrapper .margT{
  margin-top: 0px;
}
#wrapper .margB{
  margin-bottom: 0px;
}
#wrapper .padd0{
	padding: 0px;
}
#wrapper .paddL{
	padding-left: 0px;
}
#wrapper .paddR{
	padding-right: 0px;
}
#wrapper .paddT{
  padding-top: 0px;
}
#wrapper .paddB{
  padding-bottom: 0px;
}
#wrapper .textUpper{
  text-transform: uppercase;
}
#wrapper .light{
  font-weight: 300;
}
#wrapper .normal{
  font-weight: 400;
}
#wrapper .bold{
  font-weight: 600;
}
#wrapper .bolder{
  font-weight: 700;
}
#wrapper .bg-grey{
  background-color: #f3f3f3;
}
#wrapper .bg-white{
  background-color: #fff;
}
#wrapper .bg-yel{
  background-color: #d4ae62;
}
#wrapper .bg-why{
  background-color: rgba(60, 58, 79, 1);
}
#wrapper .white{
  color: #fff;
}
#wrapper .yel{
  color: #d4ae62;
}
#wrapper .why{
  color: rgba(60, 58, 79, 1);
}
#wrapper .grey{
  color: #999;
}
#wrapper .grey2{
  color: #777;
}
#wrapper .grey3{
  color: #666;
}
#wrapper .grey4{
  color: #444;
}
#wrapper .black{
  color: #000;
}
#wrapper .black2{
  color: #222;
}
#wrapper .black3{
  color: #333;
}
#wrapper .green{
  color: #4CAF50;
}
#wrapper .dblue{
  color: #00084b;
}
#wrapper .blue{
  color: #1d235f;
}
#wrapper .blue2{
  color: #43467f;
}
#wrapper .btn-blue{
    color: #fff;
    background-color: #00084b;
    border-color: #00084b;
}
#wrapper .btn-blue:hover{
    color: #fff;
    background-color: #1d235f;
    border-color: #1d235f;
}
#wrapper .btn-blue2{
    color: #fff;
    background-color: #1d235f;
    border-color: #1d235f;
}
#wrapper .btn-blue2:hover{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}
#wrapper .btn-blue3{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}
#wrapper .btn-blue3:hover{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}

#wrapper .btn-yel{
    color: #fff;
    background-color: #d4ae62;
    border-color: #d4ae62;
}
#wrapper .btn-yel:hover{
    color: #fff;
    background-color: #af8738;
    border-color: #af8738;
}
#wrapper .btn-why{
    color: #fff;
    background-color: rgba(60, 58, 79, 1);
    border-color: rgba(60, 58, 79, 1);
}
#wrapper .btn-why:hover{
    color: #fff;
    background-color: rgba(60, 58, 79, 0.77);
    border-color: rgba(60, 58, 79, 0.77);
}
#wrapper .btn-yel2{
    color: #d4ae62;
    border-color: #d4ae62;
}
#wrapper .btn-yel2:hover{
    color: #fff;
    background-color: #af8738;
    border-color: #af8738;
}
#wrapper .btn-why2{
    color: rgba(60, 58, 79, 1);
    border-color: rgba(60, 58, 79, 1);
}
#wrapper .btn-why2:hover{
    color: #fff;
    background-color: rgba(60, 58, 79, 0.77);
    border-color: rgba(60, 58, 79, 0.77);
}

#wrapper .btn-green{
    color: #fff;
    border-color: #79b530;  
    background-color: #79b530;
    transition: all 0.4s;
}
#wrapper .btn-green:hover{
    color: #fff;
    border-color: #79b530;  
    background-color: #79b530;
}
#wrapper .btn-red{
    color: #f44336;
    border-color: #f44336;  
    transition: all 0.4s;
}
#wrapper .btn-red:hover{
    color: #fff;
    border-color: #f44336;  
    background-color: #f44336;
}
#wrapper .btn-white{
    color: #b3b3b3;
    border-color: #b3b3b3;  
    transition: all 0.4s;
}
#wrapper .btn-white:hover{
    color: #444;
    border-color: #b3b3b3;  
    background-color: #b3b3b3;
}
#wrapper .heading{
  display: block;
  background-color: #fff;
  padding: 7px 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
#wrapper .margTop51{
  margin-top: 51px;
}
#wrapper .margTop71{
  margin-top: 71px;
}
#wrapper .margTop101{
  margin-top: 101px;
}

#wrapper{
	margin: 0px;
	padding: 0px;
	display: block;
	position: relative;
}

.header{f
  display: block;
}
#wrapper .logo{
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}
#wrapper .logo img{
  max-width: 160px;
}
#wrapper .menubar{
  display: block;
  border: none;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: #eee;
}
.menubar .nav>li>a {
  position: relative;
  display: block;
  color: #000;
  font-size: 15px;
  padding: 4px 15px;
  margin: 12px 0;
  font-weight: 500;
}
.menubar .nav>li>a:focus, 
.menubar .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.sectionpanel{
  padding: 55px 0;
}
.sectionpanel:after {
  left: 0;
  right: 0;
  content: '';
  height: 50px;
  bottom: 100%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 0;
}


.sliderpanel{
  display: block;
  padding: 40px 0;
}
.sliderpanel .listpoint {
  margin: 30px 0;
}
.sliderpanel .listpoint li{
  font-size: 17px;
}


.listpoint{
  display: inline-block;
  width: 100%;
}
#wrapper .listpoint li {
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  letter-spacing: 1px;
  color: #000;
}
.listpoint li:before {
  content: "\f120";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ef5a36;
  padding-right: 10px;
  font-size: 15px;
}

.sliderpanel .imglaptop{
  margin-top: 20px;
}
.sectionpanel{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 45px 0px;
  position: relative;
  overflow: hidden;
}
.sectionpanel:after {
  left: 0;
  right: 0;
  content: '';
  height: 50px;
  bottom: 100%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 0;
}


#wrapper .registerBtn{
  font-size: 17px;
  padding: 10px 40px;
  border-radius: 30px;
}

.listpoints{
  display: block;
}
.listpoints li{
  text-align: center;
}
#wrapper .listpoints li .points{
  font-size: 70px;
  color: #eb4f3490;
  font-weight: bolder; 
}
#wrapper .listpoints li h3{
  color: #123;
}
#wrapper .listpoints li p{
  letter-spacing: 1px;
  font-size: 15px;
  color: #777;
}

.listfeature{
  display: inline-block;
  width: 100%;
}
#wrapper .listfeature li {
  min-height: 55px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  letter-spacing: 1px;
  color: #000;
}
.listfeature li:before {
  content: "\f140";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ef5a36;
  padding-right: 10px;
  font-size: 15px;
}

#wrapper .imgup{
  max-width: 100%;
  margin-top: 80px;
}



.pricingPanel{
  display: block;

}

.listprice{
  display: inline-block;
  width: 100%;
}
.listprice li{
  color: #fff;
  min-height: 230px;
  padding: 0;
}
.listprice .contDiv{
  padding: 30px 15px;
}
#wrapper .listprice li .ht3{
  color: #fff;
  margin-bottom: 20px;
}
#wrapper .listprice li p{
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.listprice li{
  background-color: #f2bf5e; 
}
.listprice li:nth-child(2){
  background-color: #ee5e5e; 
}
.listprice li:nth-child(3){
  background-color: #526eb8; 
}
.listprice li:nth-child(4){
  background-color: #75cca8; 
}


.CommercePro{

}

.listPro{
  display: inline-block;
  width: 100%;
}
.listPro .imgbox{
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.listPro .imgbox img{
  min-width: 100%;
  min-height: 100%;
}
.listPro .contentDiv{
  position: relative;
  z-index: 2;
}
.listPro .rebtn{
  border-radius: 0px;
  margin-top: -22px;
}
.listPro h3{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
#wrapper .listPro p{
  font-size: 16px;
}
#wrapper .listPro .more{
  color: #000;
  margin-top: 15px; 
  display: inline-block;
}

.contactINfo{
  background-color: #f1f1f1;
}

.formbox{
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.formbox input.form-control{
  height: 40px;
  border-radius: 0px;
  box-shadow: none;
  border: solid 1px #ccc;
}
.formbox textarea.form-control{
  border-radius: 0px;
  box-shadow: none;
  border: solid 1px #ccc;
}
.formbox .btn{
  height: 40px;
}


.footerpanel{
  display: block;
  padding: 45px 0 240px; 
  position: relative;
  background-image: url('../../../assets/front/images/footerbg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footernav{
  width: 100%;
  margin-top: 20px;
  display: inline-block;
}
.footernav li {
  display: inline-block;
  float: left;
}
#wrapper .footernav li a{
  color: #ffffff90;
  font-size: 13px;
  border: solid 1px;
  padding: 7px 15px;
  margin: 5px 5px;
}
#wrapper .footernav li>a:focus, 
#wrapper .footernav li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
}

.listAdd{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.listAdd li{
  color: #ffffff90;
  font-size: 14px;
  padding: 5px 0;
  font-weight: 400;
  transition: all 1s;
}
.listAdd:hover li{
  color: #ffffff;
}
.listAdd li .fa{
  width: 40px;
  height: 40px;
  margin-top: 7px;
  line-height: 30px;
  text-align: center;
  color: #ffffff90;
  font-size: 17px;
  padding: 5px;
  border: solid 1px;
  font-weight: 400;
  transition: all 1s;
  margin-right: 10px;  
}
.listAdd li a:hover .fa{
  color: #eb4f34;
  background-color: #fff;
}


.copyright{
  background-color: #333;
}
.copyright span{
  font-size: 11px;
  color: #ffffff90;
  padding: 15px;
  display: inline-block;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
}








.price_table_container{
  text-align:center;
  color:#666;
  margin-top:35px;
  font-family: 'Open Sans', sans-serif;
}

.price_table_heading{
  font-size:36px;
  padding:10px;
  background:#EEE;
}


.price_table_row {
    padding:15px;
  background: #FFF;
}

.cost{
  padding:30px;
  font-size:30px;
}
.cost span{
  font-size:15px;
}

.price_table_row:nth-of-type(even) {
    background: #F8F8F8;
}
.btn{
  border-radius:0px;
}

.recommended{
/*USER DEFINED COLOUR*/ 
background:#FF3A3A; 
color:#FFF;
/*USER DEFINED COLOUR*/ 
padding:3px 0 3px 0;
margin-top:10px;  
text-align:center;
margin-bottom:-35px;
font-family: 'Open Sans', sans-serif;
}


.spacer{width:100%;height:50px;}


/*Already Defined Colours*/
/*Background*/
.primary-bg{background:#337AB7;color:#FFF;}
.success-bg{background:#5CB85C;color:#FFF;}
.info-bg{background:#5BC0DE;color:#FFF;}
.warning-bg{background:#F0AD4E;color:#FFF;}
.danger-bg{background:#D9534F;color:#FFF;}
.dark-bg{background:#444;color:#FFF;}
.royal-bg{background:#8E74E2;color:#FFF;}
.static-bg{background:#2BB0A6;color:#FFF;}

/*Only Text Colours*/
.primary-text{background:#FFF;color:#337AB7;}
.success-text{background:#FFF;color:#5CB85C;}
.info-text{background:#FFF;color:#5BC0DE;}
.warning-text{background:#FFF;color:#F0AD4E;}
.danger-text{background:#FFF;color:#D9534F;}
.dark-text{background:#FFF;color:#444;}
.royal-text{background:#FFF;color:#8E74E2;}
.static-text{background:#FFF;color:#2BB0A6;}

/*Additional Button styles*/

/*BTN-DARK*/
.btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}


/*BTN-ROYAL---------*/
.btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  background-image: none;
}


/*BTN-STATIC---------*/
.btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  background-image: none;
}








.registerSection{
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #eee;
}
.registerForm{
  max-width: 600px;
  width: 100%;
  display: table;
  margin: 10% auto 0;
  padding: 45px;
}
.formpanel{
  display: block;
}
.formpanel label{
  font-weight: 600;
}
.formpanel .form-control{
  min-height: 55px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
}


.innerForm{
  max-width: 1000px;
  width: 100%;
  display: table;
  margin: 5% auto 0;
  padding: 0px;
  background-color: #fff;
}
.innerForm .panel-body{
  padding: 10px 45px 30px;
}
.innerForm .panel-footer{
  padding: 15px 45px;
}
.innerForm .httl{
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.innerForm .form-group{
  margin-bottom: 24px;
}
.innerForm select{
  -webkit-appearance: none;
  appearance: none;
}
.innerForm .DropSelet{
  position: relative;
}
.innerForm .DropSelet select{
  padding: 27px 12px 9px;
  height: inherit;
}
.innerForm .DropSelet .ttl{
  position: absolute;
  padding: 7px 12px;
  font-size: 12px;
  color: #777;
  letter-spacing: 0.3px;
}
.innerForm .checkbox label{
  margin-bottom: 10px;
}
#wrapper select.form-control:focus,
#wrapper input.form-control:focus,
#wrapper textarea.form-control:focus{
    border: 1px solid #5c6ac4;
    -webkit-box-shadow: 0 0 0 1px #5c6ac4;
    box-shadow: 0 0 0 1px #5c6ac4;
}



.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:checked + .cr,
.radio label input[type="radio"]:checked + .cr{
  background-color: #79b530;
  color: #fff;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
#wrapper .form-group{
  margin-top: 12px;
}

