<div id="wrapper">

  <header class="registerSection">
      
  
  <div class="registerForm formpanel">
  <h2 class="grey2 t36">Star your Free 14-days trail of Glorifyhub</h2>
  <br/>
    <form [formGroup]="SellerRegistFrom" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <input type="email" formControlName = "email" name="email"  class="form-control" placeholder="Email Address" required="required">

            <span style="color: red" *ngIf="!SellerRegistFrom.controls['email'].valid && SellerRegistFrom.controls['email'].touched">Please enter email </span>
            <span style="color: red" *ngIf="isUnique">{{isUnique}}</span>

        </div><!-- end of form-group -->
        <div class="form-group">
            <input type="password" formControlName = "password" name="password" class="form-control" placeholder="Password" required="required">
        </div><!-- end of form-group -->
        <div class="form-group">
            <input type="text" formControlName = "store_name" name="store_name" class="form-control"  placeholder="Your store name" required="required">
        </div><!-- end of form-group -->
        <div class="form-group">
            <input type="submit" name="" class="btn btn-lg btn-green" value="Create your store">
        </div><!-- end of fotellUsForm.validrm-group -->
    
    </form>
</div><!-- end of registerForm -->



  
  </header><!-- end of registerSection -->
  
  
  </div><!-- end of wrapper -->
