<div id="wrapper">
  <header class="registerSection">
    <form [formGroup]="userProfileForm" (ngSubmit)="ngSubmit()">
      <div class="innerForm formpanel panel">
        <div class="panel-body">    
        <h2 class="httl">Add an address so you can get paid</h2>
        <h4 class="text-center">This will be used as your default business address</h4>
        <br/>
        <br/>
      
          <div class="row">
        
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>First Name</label>
                <input type="text" name="first_name" formControlName="first_name" class="form-control" required="required" />

                <span style="color: red" *ngIf="!userProfileForm.controls['first_name'].valid && userProfileForm.controls['first_name'].touched">Please enter first name </span>
            </div><!-- end of form-group -->
            
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>Last Name</label>
                <input type="text" name="last_name" formControlName="last_name" class="form-control" required="required" />
                <span style="color: red" *ngIf="!userProfileForm.controls['last_name'].valid && userProfileForm.controls['last_name'].touched">Please enter last name </span>
            </div><!-- end of form-group -->
            
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label>Street Address</label>
                <input type="text" name="street_address" formControlName="street_address" class="form-control" required="required" />

                <span style="color: red" *ngIf="!userProfileForm.controls['street_address'].valid && userProfileForm.controls['street_address'].touched">Please enter street address </span>
            </div><!-- end of form-group -->
            
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label>Apartment, suite, etc. (optional)</label>
                <input type="text" name="address_line_one" formControlName="address_line_one" class="form-control" required="required" />

                <span style="color: red" *ngIf="!userProfileForm.controls['address_line_one'].valid && userProfileForm.controls['address_line_one'].touched">Please enter address line one </span>

            </div><!-- end of form-group -->
            
            
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label>ZIP/Postal Code</label>
                <input type="text" name="zip_code" formControlName="zip_code" class="form-control" required="required" placeholder=""/>

                <span style="color: red" *ngIf="!userProfileForm.controls['zip_code'].valid && userProfileForm.controls['zip_code'].touched">Please enter correct zip code </span>
              
                
            </div><!-- end of form-group -->
            
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="ttl">Country</label>
                <div class="DropSelet">
                    
                    <select class="form-control" name="country_id" formControlName="country_id" (change)="getAllState($event.target.value)">
                        <option *ngFor="let country of allCountry;" value="{{country.id}}">{{country.name}}</option> 
                       
                    </select>

                    <span style="color: red" *ngIf="!userProfileForm.controls['country_id'].valid && userProfileForm.controls['country_id'].touched">Please select country </span>

                </div><!-- end of DropSelet -->
            </div><!-- end of form-group -->
            
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="ttl">State</label>
                <div class="DropSelet">
                    
                    <select class="form-control" name="state_id" formControlName="state_id" (change)="getAllCity($event.target.value)">
                        <option *ngFor="let state of allState;" value="{{state.id}}">{{state.name}}</option> 
                    </select>

                    <span style="color: red" *ngIf="!userProfileForm.controls['state_id'].valid && userProfileForm.controls['state_id'].touched">Please select state </span>


                </div><!-- end of DropSelet -->
            </div><!-- end of form-group -->
            
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
           
                <label class="ttl">City</label>
                    <div class="DropSelet">
                        <select class="form-control" name="city_name" formControlName="city_name" >
                                
                            <option *ngFor="let city of allCity;" value="{{city.id}}">{{city.name}}</option> 
                        </select>

                        <span style="color: red" *ngIf="!userProfileForm.controls['city_name'].valid && userProfileForm.controls['city_name'].touched">Please enter city name</span>
                    </div>
            </div><!-- end of form-group -->

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>Phone Number</label>
                <input type="tel" name="mobile_no" formControlName="mobile_no" class="form-control" required="required" />

                <span style="color: red" *ngIf="!userProfileForm.controls['mobile_no'].valid && userProfileForm.controls['mobile_no'].touched">Please enter phone no </span>


            </div><!-- end of form-group -->
            
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>Business or personal website (optional)</label>
                <input type="text" name="website" formControlName="website"  class="form-control" placeholder="example.com" />

               

            </div><!-- end of form-group -->
        
          </div><!-- end of row -->
        </div><!-- end of panel-body -->
        
        <div class="panel-footer">
            <input type="button" (click)="back()" class="btn btn-lg btn-default" value="< Back">
            <input type="submit" [disabled]="!userProfileForm.valid"  class="btn btn-lg btn-green pull-right" value="Enter my store">
        </div><!-- end of panel-footer -->
      
      </div><!-- end of innerForm -->
    </form>    
  </header><!-- end of registerSection -->
</div><!-- end of wrapper -->
