<nav class="navbar TopMenu navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand logo "><img class ="admin_logo" src="../../../assets/images/logo.png"></a>
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <div class="serachDivUser">
          <div class="input-group searchpanel">
              <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
              </span>
          </div>
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown userlogin">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                 <i class="flaticon-user userimg"></i> 
                 <div class="userDiv"><span class="tth">Ankit Tiwari</span><span class="smc">Gift2Care</span></div>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="#"><i class="flaticon-user-2"></i> User Profile</a></li>
                  <li><a href="#"><i class="flaticon-logout"></i> Log out</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Shopify help center</a></li>
                  <li><a href="#">Community forums</a></li>
                  <li><a href="#">Hire a Shopify expert</a></li>
                  <li><a href="#">Keyboard shortcuts</a></li>                    
              </ul>
          </li>
          </ul>
          </div><!-- end of serachDivUser -->
      </div>
  </div><!-- end of container-fluid -->
</nav><!-- end of TopMenu -->
