	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/06/2018 18:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-messenger:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-facebook-app-logo:before { content: "\f102"; }
.flaticon-plus:before { content: "\f103"; }
.flaticon-order:before { content: "\f104"; }
.flaticon-logout:before { content: "\f105"; }
.flaticon-block:before { content: "\f106"; }
.flaticon-login:before { content: "\f107"; }
.flaticon-circles:before { content: "\f108"; }
.flaticon-menu-1:before { content: "\f109"; }
.flaticon-menu:before { content: "\f10a"; }
.flaticon-placeholder-1:before { content: "\f10b"; }
.flaticon-placeholder:before { content: "\f10c"; }
.flaticon-shop:before { content: "\f10d"; }
.flaticon-discount-1:before { content: "\f10e"; }
.flaticon-discount:before { content: "\f10f"; }
.flaticon-user-2:before { content: "\f110"; }
.flaticon-home:before { content: "\f111"; }
.flaticon-bar-chart:before { content: "\f112"; }
.flaticon-user-1:before { content: "\f113"; }
.flaticon-user:before { content: "\f114"; }
.flaticon-price-tag:before { content: "\f115"; }
.flaticon-structure:before { content: "\f116"; }
.flaticon-house-outline:before { content: "\f117"; }