<div id="wrapper">

  <header class="registerSection">
      
  
  <div class="registerForm formpanel">
  <h2 class="grey2 t36">Seller login</h2>
  <br/>
    <form [formGroup]="SellerLoginFrom" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <input type="email" formControlName = "email" name="email"  class="form-control" placeholder="Email Address" required="required">

            <span style="color: red" *ngIf="!SellerLoginFrom.controls['email'].valid && SellerLoginFrom.controls['email'].touched">Please enter email </span>
        </div><!-- end of form-group -->
        <div class="form-group">
            <input type="password" formControlName = "password" name="password" class="form-control" placeholder="Password" required="required">

            <span style="color: red" *ngIf="!SellerLoginFrom.controls['password'].valid && SellerLoginFrom.controls['password'].touched">Please enter password </span>
        </div><!-- end of form-group -->
        
        <div class="form-group">
            <input type="submit" name="" class="btn btn-lg btn-green" value="Login">
        </div><!-- end of fotellUsForm.validrm-group -->
    
    </form>
</div><!-- end of registerForm -->



  
  </header><!-- end of registerSection -->
  
  
  </div><!-- end of wrapper -->
