  <header class="registerSection">
    <div class="container">
    
    <div class="formSteppanel">
      <img src="{{fronImageUrl}}solid_snake.svg" alt="" *ngIf="number != 2">
      <h3 class="htt">{{displayText}}</h3>
      <small class="smtt">{{innerDisplayText}}</small>
    </div><!-- end of registerForm -->
    
    </div><!-- end of container -->
    </header><!-- end of registerSection -->
