.formSteppanel{
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .formSteppanel .htt{
    font-size: 36px;
    font-weight: 600;
    color: #111;
  }
  .formSteppanel .smtt{
    font-size: 20px;
    color: #999;
    margin-top: 30px;
    display: block;
  }