<header class="header">
  <nav class="navbar front_menubar">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand logo"><img src="../../assets/front/images/logo.png" alt=""></a>
      </div>
      <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a routerLink="">Home</a></li>
              <li><a href="#">Why Glorify</a></li>
              <li><a href="#">Features</a></li>
              <li><a mdbPageScroll href="#priceSection"  >Pricing</a></li>
              <li><a href="#">Art Commerce Pro</a></li>
              <li><a href="#">Solutions</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/seller/login">Login</a></li>
              <li><a routerLink="/register" >Register</a></li>
              
          </ul>
      </div>
      </div><!-- end of container -->
  </nav>        
</header><!--end of header -->