
.footerpanel{
  display: block;
  padding: 45px 0 240px; 
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footernav{
  width: 100%;
  margin-top: 20px;
  display: inline-block;
}
.footernav li {
  display: inline-block;
  float: left;
}
.footernav li a{
  color: #ffffff90;
  font-size: 13px;
  border: solid 1px;
  padding: 7px 15px;
  margin: 5px 5px;
}
.footernav li>a:focus, 
.footernav li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
}

.listAdd{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.listAdd li{
  color: #ffffff90;
  font-size: 14px;
  padding: 5px 0;
  font-weight: 400;
  transition: all 1s;
}
.listAdd:hover li{
  color: #ffffff;
}
.listAdd li .fa{
  width: 40px;
  height: 40px;
  margin-top: 7px;
  line-height: 30px;
  text-align: center;
  color: #ffffff90;
  font-size: 17px;
  padding: 5px;
  border: solid 1px;
  font-weight: 400;
  transition: all 1s;
  margin-right: 10px;  
}
.listAdd li a:hover .fa{
  color: #eb4f34;
  background-color: #fff;
}


.copyright{
  background-color: #333;
}
.copyright span{
  font-size: 11px;
  color: #ffffff90;
  padding: 15px;
  display: inline-block;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
}
