<footer class="footerpanel" style="background-image: url('../../../assets/front/images/footerbg.webp');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="../../../assets/front/images/logo.png" class="img-responsive" alt="">
                <ul class="nav footernav">
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">Why Glorify</a></li>
                    <li><a href="#!">Features</a></li>
                    <li><a href="#!">Pricing</a></li>
                    <li><a href="#!">Art Commerce Pro</a></li>
                    <li><a href="#!">Solutions</a></li>
                    <li><a href="#!">Demo</a></li>
                </ul><!-- end of nav -->
            </div><!-- end of col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h4 class="white ht4">CONTACT INFO</h4>
                <ul class="list-unstyled listAdd">                
                    <li>ARTCONNECT GLOBAL LIMITED</li>
                    <li>Office: The Long Lodge, 265-269 Kingston Road, London, England, SW19 3NW</li>
                    <li>Email: support@glorifypro.com</li>
                    <li>Phone: +447455945606</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div><!-- end of col -->
        </div><!-- end of row -->
    </div><!-- end of container -->
</footer><!-- end of footerpanel -->
<footer class="copyright"><span>© 2018 All Copyright Reserved by Glorifyhub.com a venture of ARTCONNECT GLOBAL LIMITED</span></footer>