
<section class="sectionpanel text-center">
  <div class="container">
      <h1 class="t30">Pricing</h1>
      <p class="t17">Our plans are designed for all levels of businesses and armed with powerful tools necessary to start, grow, scale and transform your business
For custom merchant solutions including smart store and enterprise plans
please write to our enterprise solutions team for a custom quote</p>
  </div><!-- end of container -->
</section><!-- end of sliderpanel -->




<section class="sectionpanel pricingPanel bg-grey">
  <div class="container">
      <div class="row">

          <h2 class="t30 text-center">Pricing</h2>
          <p class="t17 text-center" style="max-width: 70%;margin: auto;">Our plans are designed for all levels of businesses and armed with powerful tools necessary to start, grow, scale and transform your business</p>
          <hr/>

          <ul class="list-unstyled listprice">
              <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="contDiv">    
                  <h4 class="ht3">Lite</h4>
                  <p>Take Your hobby to online by creating an online store and sharing on social media to let people know </p>
                  <i class="fa fa-long-arrow-right"></i>
              </div><!-- end of contDiv -->
              <div class="float-shadow">        
                  <div class="price_table_container">
                      <div class="price_table_body">
                          <div class="price_table_row cost dark-text"> <strong>Free</strong><span></span></div>
                          <div class="price_table_row">3% Transaction Fee</div>
                          <div class="price_table_row">50 Products</div>
                          <div class="price_table_row">1 Staff Account</div>
                          <div class="price_table_row">Sitewide HTTPS & SSL</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px">Sales Channels</div>
                          <div class="price_table_row">Branded Online Store</div>
                          <div class="price_table_row">Facebook Shop</div>
                          <div class="price_table_row">WhatsApp Selling Kit</div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row t24 danger-text" style="height: 70px">Features</div>
                          <div class="price_table_row">Fully Customisable
                              Responsive website</div>
                          <div class="price_table_row">Single page checkout</div>
                          <div class="price_table_row">Professional Reporting Tools</div>
                          <div class="price_table_row">Discounts & Coupons</div>
                          <div class="price_table_row">Standard Shipping
                              Module</div>
                          <div class="price_table_row">Product ratings and reviews</div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row t24 danger-text" style="height: 70px">Art Commerce Pro</div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row t24 danger-text" style="height: 70px">Online Sales Per Year</div>
                          <div class="price_table_row t17 dark-text"> <strong>Upto $50K</strong></div>
                                             
                      </div>
                  </div>
              </div><!-- end of float-shadow -->                  
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="contDiv">    
                  <h4 class="ht3">Essential</h4>
                  <p>Essential Get started with Own branded  beautiful website and unlimited products and selling on Facebook</p>
                  <i class="fa fa-long-arrow-right"></i>
              </div>
              <div class="float-shadow">   
                  <div class="price_table_container">
                      <div class="price_table_body">
                          <div class="price_table_row cost danger-text"><span class="grey t26">$27.99</span> <strong>$19.99</strong></div>
                          <div class="price_table_row">0% Transaction Fee</div>
                          <div class="price_table_row">Unlimited Products</div>
                          <div class="price_table_row">5 Staff Accounts</div>
                          <div class="price_table_row">Sitewide HTTPS & SSL</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">Branded Online Store</div>
                          <div class="price_table_row">Facebook Shop</div>
                          <div class="price_table_row">WhatsApp Selling Kit</div>
                          <div class="price_table_row">Pinterest Buyable Pins</div>
                          <div class="price_table_row">Google Shopping</div>
                          <div class="price_table_row">Buy Button</div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">Fully Customisable
                              Responsive website</div>
                          <div class="price_table_row">Single page checkout</div>
                          <div class="price_table_row">Professional Reporting Tools</div>
                          <div class="price_table_row">Discounts & Coupons</div>
                          <div class="price_table_row">Standard Shipping
                              Module</div>
                          <div class="price_table_row">Product ratings and reviews</div>
                          <div class="price_table_row">Blog</div>
                          <div class="price_table_row">Faceted search (product filtering) </div>
                          <div class="price_table_row">Paypal Onetouch</div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">HD Art Print Module</div>
                          <div class="price_table_row">Art Marketplace</div>
                          <div class="price_table_row">Stock Image Marketplace</div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row danger-text t17">
                              <strong>Up to $200K</strong></div>
                                              
                      </div>
                  </div>
              </div>                
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="contDiv">    
                  <h4 class="ht3">Plus</h4>
                  <p>Grow Your Business  by increasing traffic by Selling on Facebook & Google shop, Nakshi, Pixalens and more </p>
                  <i class="fa fa-long-arrow-right"></i>
              </div>
              <div class="float-shadow">        
                  <div class="price_table_container">
                      <div class="price_table_body">
                          <div class="price_table_row cost royal-text"><span class="grey t26">$69.99</span> <strong>$49.99</strong></div>
                          <div class="price_table_row">0% Transaction Fee</div>
                          <div class="price_table_row">Unlimited Products</div>
                          <div class="price_table_row">Unlimited Staff Accounts</div>
                          <div class="price_table_row">Sitewide HTTPS & SSL</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">Branded Online Store</div>
                          <div class="price_table_row">Facebook Shop</div>
                          <div class="price_table_row">WhatsApp Selling Kit</div>
                          <div class="price_table_row">Pinterest Buyable Pins</div>
                          <div class="price_table_row">Google Shopping</div>
                          <div class="price_table_row">Buy Button</div>
                          <div class="price_table_row">Amazon, eBay, Houzz</div>
                          <div class="price_table_row">Point of Sale</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">Fully Customisable
                              Responsive website</div>
                          <div class="price_table_row">Single page checkout</div>
                          <div class="price_table_row">Professional Reporting Tools</div>
                          <div class="price_table_row">Discounts & Coupons</div>
                          <div class="price_table_row">Standard Shipping
                          Module</div>
                          <div class="price_table_row">Product ratings and reviews</div>
                          <div class="price_table_row">Blog</div>
                          <div class="price_table_row">Faceted search (product filtering) </div>
                          <div class="price_table_row">Paypal Onetouch</div>
                          <div class="price_table_row">Apply Pay</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">HD Art Print Module</div>
                          <div class="price_table_row">Art Marketplace</div>
                          <div class="price_table_row">Stock Image Marketplace</div>
                          <div class="price_table_row">Virtual Art Gallery</div>
                          <div class="price_table_row">AR Home Studio</div>
                          <div class="price_table_row">Online Bid Sale</div>
                          <div class="price_table_row"> - </div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row t17 royal-text">
                              <strong>Up to $500K</strong></div>
                                              
                      </div>
                  </div>
              </div>                
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="contDiv">    
                  <h4 class="ht3">Pro</h4>
                  <p>Scale your business with powerful pre-built engagement automation and analytics tools  by expanding on multi-channels</p>
                  <i class="fa fa-long-arrow-right"></i>
              </div>
              <div class="float-shadow">        
                  <div class="price_table_container">
                      <div class="price_table_body">
                          <div class="price_table_row cost static-text"><span class="grey t26">$249.99</span> <strong>$199.99</strong></div>
                          <div class="price_table_row">0% Transaction Fee</div>
                          <div class="price_table_row">Unlimited Products</div>
                          <div class="price_table_row">Unlimited Staff Accounts</div>
                          <div class="price_table_row">Sitewide HTTPS & SSL</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">Branded Online Store</div>
                          <div class="price_table_row">Facebook Shop</div>
                          <div class="price_table_row">WhatsApp Selling Kit</div>
                          <div class="price_table_row">Pinterest Buyable Pins</div>
                          <div class="price_table_row">Google Shopping</div>
                          <div class="price_table_row">Buy Button</div>
                          <div class="price_table_row">Amazon, eBay, Houzz</div>
                          <div class="price_table_row">Point of Sale & Connected store</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">Fully Customisable
                              Responsive website</div>
                          <div class="price_table_row">Single page checkout</div>
                          <div class="price_table_row">Professional Reporting Tools</div>
                          <div class="price_table_row">Discounts & Coupons</div>
                          <div class="price_table_row">Standard Shipping
                              Module</div>
                          <div class="price_table_row">Product ratings and reviews</div>
                          <div class="price_table_row">Blog</div>
                          <div class="price_table_row">Faceted search (product filtering) </div>
                          <div class="price_table_row">Paypal Onetouch</div>
                          <div class="price_table_row">Apply Pay</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row">HD Art Print Module</div>
                          <div class="price_table_row">Art Marketplace</div>
                          <div class="price_table_row">Stock Image Marketplace</div>
                          <div class="price_table_row">Virtual Art Gallery</div>
                          <div class="price_table_row">AR Home Studio</div>
                          <div class="price_table_row">Online Bid Sale</div>
                          <div class="price_table_row">Live Auction Cockpit</div>
                          <div class="price_table_row t24 danger-text" style="height: 70px"></div>
                          <div class="price_table_row static-text t17">
                              <strong>Up to $1M</strong></div>
                                              
                      </div>
                  </div>
              </div>                
              </li>
          </ul>

      
      

      


      </div><!-- end of row -->
  </div><!-- end of container -->
</section><!-- end of sliderpanel -->
