
.pricingPanel{
  display: block;

}

.listprice{
  display: inline-block;
  width: 100%;
}
.listprice li{
  color: #fff;
  min-height: 230px;
  padding: 0;
  border-right: solid 2px #eee;
}
.listprice .contDiv{
  padding: 30px 15px;
}
#wrapper .listprice li .ht3{
  color: #fff;
  margin-bottom: 20px;
}
#wrapper .listprice li p{
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.listprice li{
  background-color: #f2bf5e; 
}
.listprice li:nth-child(2){
  background-color: #ee5e5e; 
}
.listprice li:nth-child(3){
  background-color: #526eb8; 
}
.listprice li:nth-child(4){
  background-color: #75cca8; 
}


.CommercePro{

}

.listPro{
  display: inline-block;
  width: 100%;
}
.listPro .imgbox{
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.listPro .imgbox img{
  min-width: 100%;
  min-height: 100%;
}
.listPro .contentDiv{
  position: relative;
  z-index: 2;
}
.listPro .rebtn{
  border-radius: 0px;
  margin-top: -22px;
}
.listPro h3{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
#wrapper .listPro p{
  font-size: 16px;
}
#wrapper .listPro .more{
  color: #000;
  margin-top: 15px; 
  display: inline-block;
}

.contactINfo{
  background-color: #f1f1f1;
}

.formbox{
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.formbox input.form-control{
  height: 40px;
  border-radius: 0px;
  box-shadow: none;
  border: solid 1px #ccc;
}
.formbox textarea.form-control{
  border-radius: 0px;
  box-shadow: none;
  border: solid 1px #ccc;
}
.formbox .btn{
  height: 40px;
}


.footerpanel{
  display: block;
  padding: 45px 0 240px; 
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footernav{
  width: 100%;
  margin-top: 20px;
  display: inline-block;
}
.footernav li {
  display: inline-block;
  float: left;
}
#wrapper .footernav li a{
  color: #ffffff90;
  font-size: 13px;
  border: solid 1px;
  padding: 7px 15px;
  margin: 5px 5px;
}
#wrapper .footernav li>a:focus, 
#wrapper .footernav li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
}

.listAdd{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.listAdd li{
  color: #ffffff90;
  font-size: 14px;
  padding: 5px 0;
  font-weight: 400;
  transition: all 1s;
}
.listAdd:hover li{
  color: #ffffff;
}
.listAdd li .fa{
  width: 40px;
  height: 40px;
  margin-top: 7px;
  line-height: 30px;
  text-align: center;
  color: #ffffff90;
  font-size: 17px;
  padding: 5px;
  border: solid 1px;
  font-weight: 400;
  transition: all 1s;
  margin-right: 10px;  
}
.listAdd li a:hover .fa{
  color: #eb4f34;
  background-color: #fff;
}


.copyright{
  background-color: #333;
}
.copyright span{
  font-size: 11px;
  color: #ffffff90;
  padding: 15px;
  display: inline-block;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
}








.price_table_container{
  text-align:center;
  color:#666;
  margin-top:35px;
  font-family: 'Open Sans', sans-serif;
}

.price_table_heading{
  font-size:36px;
  padding:10px;
  background:#EEE;
}


.price_table_row {
    padding:15px;
  background: #FFF;
}

.cost{
  padding:30px;
  font-size:30px;
}
.cost span{
  font-size:20px;
  text-decoration: line-through;
}

.price_table_row:nth-of-type(even) {
    background: #F8F8F8;
}
.btn{
  border-radius:0px;
}

.recommended{
/*USER DEFINED COLOUR*/ 
background:#FF3A3A; 
color:#FFF;
/*USER DEFINED COLOUR*/ 
padding:3px 0 3px 0;
margin-top:10px;  
text-align:center;
margin-bottom:-35px;
font-family: 'Open Sans', sans-serif;
}


.spacer{width:100%;height:50px;}


/*Already Defined Colours*/
/*Background*/
.primary-bg{background:#337AB7;color:#FFF;}
.success-bg{background:#5CB85C;color:#FFF;}
.info-bg{background:#5BC0DE;color:#FFF;}
.warning-bg{background:#F0AD4E;color:#FFF;}
.danger-bg{background:#D9534F;color:#FFF;}
.dark-bg{background:#444;color:#FFF;}
.royal-bg{background:#8E74E2;color:#FFF;}
.static-bg{background:#2BB0A6;color:#FFF;}

/*Only Text Colours*/
.primary-text{background:#FFF;color:#337AB7;}
.success-text{background:#FFF;color:#5CB85C;}
.info-text{background:#FFF;color:#5BC0DE;}
.warning-text{background:#FFF;color:#F0AD4E;}
.danger-text{background:#FFF;color:#D9534F;}
.dark-text{background:#FFF;color:#444;}
.royal-text{background:#FFF;color:#8E74E2;}
.static-text{background:#FFF;color:#2BB0A6;}

/*Additional Button styles*/

/*BTN-DARK*/
.btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}


/*BTN-ROYAL---------*/
.btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  background-image: none;
}


/*BTN-STATIC---------*/
.btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  background-image: none;
}
