<div id="wrapper">

    <header class="registerSection">

        <form [formGroup]="tellUsForm" (ngSubmit)="onSubmit()">       
        
            <div class="innerForm formpanel panel">
            <div class="panel-body">    
            <h2 class="httl">Tell us little about yourself</h2>
            <br/>

                <div class="form-group" *ngIf="display_option.selling_status">
                    <div class="DropSelet">
                        <span class="ttl">Are you already selling?</span>
                        <select formControlName = "selling_status" name="selling_status" class="form-control" (change)="sellingStatus($event.target.value)">
                           <option *ngFor="let selling_status of selling_status_array; index as i" value="{{i}}">{{selling_status}}</option> 
                        </select>
                        <span style="color: red" *ngIf="!tellUsForm.controls['selling_status'].valid && tellUsForm.controls['selling_status'].touched">Please select any option </span>
                        
                    </div><!-- end of DropSelet -->
                </div><!-- end of form-group -->

                <div class="form-group" *ngIf="display_option.shopping_plateform">
                        <div class="DropSelet">
                            <span class="ttl">Select shopping plateform?</span>
                            <select formControlName="shopping_plateform" name="shopping_plateform" class="form-control" (change)="shoppingPlateform($event.target.value)">
                               <option *ngFor="let shopping_plateform of shopping_plateform_array; index as i" value="{{i}}">{{shopping_plateform}}</option>
                            </select>
                            <span style="color: red" *ngIf="!tellUsForm.controls['shopping_plateform'].valid && tellUsForm.controls['shopping_plateform'].touched">Please select any option </span>
                        </div><!-- end of DropSelet -->
                </div><!-- end of form-group -->

                <div class="form-group" *ngIf="display_option.creating_store_status" >
                    <div class="DropSelet">
                        <span class="ttl">Why are you creating store</span>
                        <select formControlName="creating_store_status" name="creating_store_status" class="form-control" >
                            <option *ngFor=" let creating_store_status of creating_store_status_array; index as i" value="{{i}}">{{creating_store_status}}</option>
                            
                        </select>
                        <span style="color: red" *ngIf="!tellUsForm.controls['creating_store_status'].valid && tellUsForm.controls['creating_store_status'].touched">Please select any option </span>
                    </div><!-- end of DropSelet -->
                </div><!-- end of form-group -->


            <!--- when select 3 Option -->
                <div class="form-group" *ngIf="display_option.when_launch_store">
                    <div class="DropSelet">
                        <span class="ttl">When would you like to launch your store?</span>
                        <select class="form-control" formControlName="when_launch_store" name="when_launch_store">
                            <option *ngFor="let when_launch_store of when_launch_store_array; index as i" value="{{i}}">{{when_launch_store}}</option>
                        </select>
                    </div><!-- end of DropSelet -->
                </div><!-- end of form-group -->

                <div class="form-group" *ngIf="display_option.how_to_sell">
                    <div class="DropSelet">
                        <span class="ttl">How do you want ot sell?</span>
                        <select class="form-control" formControlName="how_to_sell" name="how_to_sell">
                            <option *ngFor=" let how_to_sell of how_to_sell_array; index as i" value="{{i}}">{{how_to_sell}}</option>
                        </select>
                    </div><!-- end of DropSelet -->
                </div><!-- end of form-group -->

                <!-- when select 4 option -->

                <div class="form-group" *ngIf="display_option.selling_product_option">
                <div class="DropSelet">
                    <span class="ttl">Selling product options</span>
                    <select class="form-control" formControlName="selling_product_option" name="selling_product_option">
                        <option *ngFor=" let selling_product_option of selling_product_option_array; index as i" value="{{i}}" >{{selling_product_option}}</option>
                    </select>
                </div><!-- end of DropSelet -->
                </div><!-- end of form-group -->


                <!-- <div class="form-group">
                <div class="checkbox">
                    <label style="padding: 0px;" class="t13 bold">Where will you mostly sell in person?</label><br/>
                    <label style="padding: 0px;">
                        <input type="checkbox"  value=""  />
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        At markets, fairs and pop-ups
                    </label><br/>
                    <label style="padding: 0px;">
                        <input type="checkbox"  value=""  />
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        In brick and mortar retail stores
                    </label>
                </div> -->
            
            <!-- end of checkbox -->
            <!-- </div> -->
            
            <!-- end of form-group -->
            
            
            <div class="form-group" *ngIf="display_option.current_revenue">
                <div class="DropSelet">
                    <span class="ttl">What is your current revenue?</span>
                    <select class="form-control" formControlName="current_revenue" name="current_revenue">
                        <option *ngFor=" let current_revenue of current_revenue_array; index as i" value="{{i}}">{{current_revenue}}</option>
                        
                    </select>
                </div><!-- end of DropSelet -->
            </div><!-- end of form-group -->
            <div class="form-group">
            <div class="checkbox">
                <label style="padding: 0px;" class="t13 bold">Are you setting up a store for a client?</label><br/>
                <label style="padding: 0px;">
                    <input type="checkbox"  value=""  />
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    Yes, I'm designing/developing a store for a client
                </label>
            </div><!-- end of checkbox -->
            </div><!-- end of form-group -->
            </div><!-- end of panel-body -->
            
            <div class="panel-footer text-right">
                <input type="submit" name="" class="btn btn-lg btn-green" value="NEXT" [disabled]="!tellUsForm.valid">
            </div><!-- end of panel-footer -->
            

            </div><!-- end of innerForm -->
        </form>  
    </header><!-- end of registerSection -->
  
  
</div><!-- end of wrapper -->