
#wrapper .registerSection{
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #eee;
}
#wrapper .registerForm{
  max-width: 600px;
  width: 100%;
  display: table;
  margin: 10% auto 0;
  padding: 45px;
}
#wrapper .formpanel{
  display: block;
}
#wrapper .formpanel label{
  font-weight: 600;
}
#wrapper .formpanel .form-control{
  min-height: 55px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
}


#wrapper .innerForm{
  max-width: 1000px;
  width: 100%;
  display: table;
  margin: 5% auto 0;
  padding: 0px;
  background-color: #fff;
}
#wrapper .innerForm .panel-body{
  padding: 10px 45px 30px;
}
#wrapper .innerForm .panel-footer{
  padding: 15px 45px;
}
#wrapper .innerForm .httl{
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
#wrapper .innerForm .form-group{
  margin-bottom: 24px;
}
#wrapper .innerForm select{
  -webkit-appearance: none;
  appearance: none;
}
#wrapper .innerForm .DropSelet{
  position: relative;
}
#wrapper .innerForm .DropSelet select{
  padding: 27px 12px 9px;
  height: inherit;
}
#wrapper .innerForm .DropSelet .ttl{
  position: absolute;
  padding: 7px 12px;
  font-size: 12px;
  color: #777;
  letter-spacing: 0.3px;
}
#wrapper .innerForm .checkbox label{
  margin-bottom: 10px;
}
#wrapper select.form-control:focus,
#wrapper input.form-control:focus,
#wrapper textarea.form-control:focus{
    border: 1px solid #5c6ac4;
    -webkit-box-shadow: 0 0 0 1px #5c6ac4;
    box-shadow: 0 0 0 1px #5c6ac4;
}
#wrapper .checkbox label input[type="checkbox"] + .cr > .cr-icon:before, 
#wrapper .radio label input[type="radio"] + .cr > .cr-icon:before{
  color: #fff;
}


.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:checked + .cr,
.radio label input[type="radio"]:checked + .cr{
  background-color: #79b530;
  color: #fff;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


#wrapper .formSteppanel{
  display: table;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}
#wrapper .formSteppanel .htt{
  font-size: 36px;
  font-weight: 600;
  color: #111;
}
#wrapper .formSteppanel .smtt{
  font-size: 20px;
  color: #999;
  margin-top: 30px;
  display: block;
}
