    /*
    Flaticon icon font: Flaticon
    Creation date: 19/06/2018 18:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-messenger:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-facebook-app-logo:before { content: "\f102"; }
.flaticon-plus:before { content: "\f103"; }
.flaticon-order:before { content: "\f104"; }
.flaticon-logout:before { content: "\f105"; }
.flaticon-block:before { content: "\f106"; }
.flaticon-login:before { content: "\f107"; }
.flaticon-circles:before { content: "\f108"; }
.flaticon-menu-1:before { content: "\f109"; }
.flaticon-menu:before { content: "\f10a"; }
.flaticon-placeholder-1:before { content: "\f10b"; }
.flaticon-placeholder:before { content: "\f10c"; }
.flaticon-shop:before { content: "\f10d"; }
.flaticon-discount-1:before { content: "\f10e"; }
.flaticon-discount:before { content: "\f10f"; }
.flaticon-user-2:before { content: "\f110"; }
.flaticon-home:before { content: "\f111"; }
.flaticon-bar-chart:before { content: "\f112"; }
.flaticon-user-1:before { content: "\f113"; }
.flaticon-user:before { content: "\f114"; }
.flaticon-price-tag:before { content: "\f115"; }
.flaticon-structure:before { content: "\f116"; }
.flaticon-house-outline:before { content: "\f117"; }
    
    $font-Flaticon-messenger: "\f100";
    $font-Flaticon-twitter: "\f101";
    $font-Flaticon-facebook-app-logo: "\f102";
    $font-Flaticon-plus: "\f103";
    $font-Flaticon-order: "\f104";
    $font-Flaticon-logout: "\f105";
    $font-Flaticon-block: "\f106";
    $font-Flaticon-login: "\f107";
    $font-Flaticon-circles: "\f108";
    $font-Flaticon-menu-1: "\f109";
    $font-Flaticon-menu: "\f10a";
    $font-Flaticon-placeholder-1: "\f10b";
    $font-Flaticon-placeholder: "\f10c";
    $font-Flaticon-shop: "\f10d";
    $font-Flaticon-discount-1: "\f10e";
    $font-Flaticon-discount: "\f10f";
    $font-Flaticon-user-2: "\f110";
    $font-Flaticon-home: "\f111";
    $font-Flaticon-bar-chart: "\f112";
    $font-Flaticon-user-1: "\f113";
    $font-Flaticon-user: "\f114";
    $font-Flaticon-price-tag: "\f115";
    $font-Flaticon-structure: "\f116";
    $font-Flaticon-house-outline: "\f117";