<section class="page-product">

  <div class="prodHead">
      <h2 class="ht3">Orders</h2>
      <ul class="list-inline listDiv">
          <li><a href="#"><i class="fa fa-download fa-fw"></i> Export</a></li>
          <li><a href="#"><i class="fa fa-upload fa-fw"></i> Export</a></li>
          <li class="dropdown">
              <a href="#!" data-toggle="dropdown" class="dropdown-toggle">More actions <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="all-products.html">All Products</a></li>
              </ul>
          </li>        
      </ul>
      <a href="add-product.html" class="btn btn-green add-btn pull-right fixedpanel"><i class="flaticon-plus"></i> Add Product</a>
  </div><!-- end of prodHead -->
  
  </section><!-- end of page-product -->
  
  
  
  <section class="productlist">
  
  <div class="input-group prodSearch">
      <div class="input-group-btn search-panel">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="search_concept">Filter by</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#!">Select a filter...</a></li>
            <li><a href="#!">Availability</a></li>
            <li><a href="#!">Publishing error</a></li>
            <li><a href="#!">Product type</a></li>
            <li><a href="#!">Product vendor</a></li>
            <li><a href="#!">Tagged with</a></li>
          </ul>
      </div>
      <input type="hidden" name="search_param" value="all" id="search_param">         
      <input type="text" class="form-control" name="" placeholder="Search products">
      <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
  </div><!-- end of prodSearch -->
  
  <div class="clear"></div><!-- end of clear -->
  <div class="btn-group listTBP fixedpanel">
  <button class="btn btn-default"><i class="fa fa-minus-circle fa-fw"></i> 1 Product Selected</button>
  <a href="product-edit.html" class="btn btn-default">Edit Product</a>
  <div class="dropdown btn btn-default">
      <a href="#!" data-toggle="dropdown" class=" dropdown-toggle">More actions <b class="caret"></b></a>
      <ul class="dropdown-menu">
          <li><a href="all-products.html">All Products</a></li>
      </ul>
  </div>
  </div><!-- end of listTBP -->
  
  <div class="tabel-responsive">
  <table class="table table-hover tableProdList">
      <thead>
          <tr>
              <th colspan="2"><input type="checkbox" class="intCheck" name=""></th>
              <th>Product</th>
              <th>Inventory</th>
              <th>Type</th>
              <th>Vendor</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="intCheck" name=""></td>
              <td><a href="product-edit.html">
                  <img class="tmimg" src="../../../assets/images/theme.jpg"></a></td>
              <td>
              <a href="product-edit.html" class="htt">"Little Secret ver.2" Cute Hard Cover Planner Agenda Diary Journal Study Notebook Notepad Freenote</a>
              <span class="smt">Unavailable on 14 sales channels</span>
              </td>
              <td>1000 in stock for 5 variants</td>
              <td></td>
              <td>Glorifypro</td>
          </tr>
      </tbody>
  </table>
  </div><!-- end of tabel -->
  </section><!-- end of productlist -->
  