@media (min-width:0px) and (max-width:359px){}
@media (min-width:360px) and (max-width:480px){}
@media (min-width:481px) and (max-width:567px){}
@media (min-width:568px) and (max-width:767px){}
@media (min-width:768px) and (max-width:890px){

}
@media (min-width:768px) and (max-width:992px){

}
@media (min-width:993px) and (max-width:1200px){

}
@media (max-width:767px){



}
@media (min-width:567px) and (max-width:768px){

}
@media (max-width:567px){







}
@media (max-width:420px){}
@media (max-width:400px){}
@media (max-width:350px){}