*{margin:0;padding:0;outline:none;}
body{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif !important;
  background: #fff !important;
}
html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
html{width:100%;height:100%;}
html,
body{height:100%;}
#wrapper .ht1{font-size:36px;margin:10px 0px;}
#wrapper .ht2{font-size:30px;margin:10px 0px;}
#wrapper .ht3{font-size:24px;margin:10px 0px;}
#wrapper .ht4{font-size:20px;margin:10px 0px;}
#wrapper .ht5{font-size:17px;margin:10px 0px;}
#wrapper .ht6{font-size:14px;margin:10px 0px;}
#wrapper a:focus,
#wrapper a:hover{text-decoration:none;}
.clear{margin:0px;padding:0px;clear:both;}
#wrapper p{font-size:13px;letter-spacing:0.6px;color:#333;}
#wrapper .t10{font-size: 10px;}
#wrapper .t11{font-size: 11px;}
#wrapper .t12{font-size: 12px;}
#wrapper .t13{font-size: 13px;}
#wrapper .t14{font-size: 14px;}
#wrapper .t15{font-size: 15px;}
#wrapper .t16{font-size: 16px;}
#wrapper .t17{font-size: 17px;}
#wrapper .t18{font-size: 18px;}
#wrapper .t20{font-size: 20px;}
#wrapper .t22{font-size: 22px;}
#wrapper .t24{font-size: 24px;}
#wrapper .t28{font-size: 28px;}
#wrapper .t30{font-size: 30px;}
#wrapper .t34{font-size: 34px;}
#wrapper .t36{font-size: 36px;}
#wrapper .t40{font-size: 40px;}
#wrapper .l10{line-height: 10px;}
#wrapper .l12{line-height: 12px;}
#wrapper .l14{line-height: 14px;}
#wrapper .l16{line-height: 16px;}
#wrapper .l18{line-height: 18px;}
#wrapper .l20{line-height: 20px;}
#wrapper .l24{line-height: 24px;}
#wrapper .l28{line-height: 28px;}
#wrapper .l30{line-height: 30px;}
#wrapper .l36{line-height: 36px;}
#wrapper .l40{line-height: 40px;}
#wrapper .btn.active.focus, 
#wrapper .btn.active:focus, 
#wrapper .btn.focus, 
#wrapper .btn:active.focus, 
#wrapper .btn:active:focus, 
#wrapper .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#wrapper .marg0{
  margin: 0px;
}
#wrapper .margL{
  margin-left: 0px;
}
#wrapper .margR{
  margin-right: 0px;
}
#wrapper .margT{
  margin-top: 0px;
}
#wrapper .margB{
  margin-bottom: 0px;
}
#wrapper .padd0{
	padding: 0px;
}
#wrapper .paddL{
	padding-left: 0px;
}
#wrapper .paddR{
	padding-right: 0px;
}
#wrapper .paddT{
  padding-top: 0px;
}
#wrapper .paddB{
  padding-bottom: 0px;
}
#wrapper .textUpper{
  text-transform: uppercase;
}
#wrapper .light{
  font-weight: 300;
}
#wrapper .normal{
  font-weight: 400;
}
#wrapper .bold{
  font-weight: 600;
}
#wrapper .bolder{
  font-weight: 700;
}
#wrapper .bg-grey{
  background-color: #f3f3f3;
}
#wrapper .bg-white{
  background-color: #fff;
}
#wrapper .bg-yel{
  background-color: #d4ae62;
}
#wrapper .bg-why{
  background-color: rgba(60, 58, 79, 1);
}
#wrapper .white{
  color: #fff;
}
#wrapper .yel{
  color: #d4ae62;
}
#wrapper .why{
  color: rgba(60, 58, 79, 1);
}
#wrapper .grey{
  color: #999;
}
#wrapper .grey2{
  color: #777;
}
#wrapper .grey3{
  color: #666;
}
#wrapper .grey4{
  color: #444;
}
#wrapper .black{
  color: #000;
}
#wrapper .black2{
  color: #222;
}
#wrapper .black3{
  color: #333;
}
#wrapper .green{
  color: #4CAF50;
}
#wrapper .dblue{
  color: #00084b;
}
#wrapper .blue{
  color: #1d235f;
}
#wrapper .blue2{
  color: #43467f;
}
#wrapper .btn-blue{
    color: #fff;
    background-color: #00084b;
    border-color: #00084b;
}
#wrapper .btn-blue:hover{
    color: #fff;
    background-color: #1d235f;
    border-color: #1d235f;
}
#wrapper .btn-blue2{
    color: #fff;
    background-color: #1d235f;
    border-color: #1d235f;
}
#wrapper .btn-blue2:hover{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}
#wrapper .btn-blue3{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}
#wrapper .btn-blue3:hover{
    color: #fff;
    background-color: #43467f;
    border-color: #43467f;
}

#wrapper .btn-yel{
    color: #fff;
    background-color: #d4ae62;
    border-color: #d4ae62;
}
#wrapper .btn-yel:hover{
    color: #fff;
    background-color: #af8738;
    border-color: #af8738;
}
#wrapper .btn-why{
    color: #fff;
    background-color: rgba(60, 58, 79, 1);
    border-color: rgba(60, 58, 79, 1);
}
#wrapper .btn-why:hover{
    color: #fff;
    background-color: rgba(60, 58, 79, 0.77);
    border-color: rgba(60, 58, 79, 0.77);
}
#wrapper .btn-yel2{
    color: #d4ae62;
    border-color: #d4ae62;
}
#wrapper .btn-yel2:hover{
    color: #fff;
    background-color: #af8738;
    border-color: #af8738;
}
#wrapper .btn-why2{
    color: rgba(60, 58, 79, 1);
    border-color: rgba(60, 58, 79, 1);
}
#wrapper .btn-why2:hover{
    color: #fff;
    background-color: rgba(60, 58, 79, 0.77);
    border-color: rgba(60, 58, 79, 0.77);
}

#wrapper .btn-green{
    color: #fff;
    border-color: #79b530;  
    background-color: #79b530;
    transition: all 0.4s;
}
#wrapper .btn-green:hover{
    color: #fff;
    border-color: #79b530;  
    background-color: #79b530;
}
#wrapper .btn-red{
    color: #f44336;
    border-color: #f44336;  
    transition: all 0.4s;
}
#wrapper .btn-red:hover{
    color: #fff;
    border-color: #f44336;  
    background-color: #f44336;
}
#wrapper .btn-white{
    color: #b3b3b3;
    border-color: #b3b3b3;  
    transition: all 0.4s;
}
#wrapper .btn-white:hover{
    color: #444;
    border-color: #b3b3b3;  
    background-color: #b3b3b3;
}
#wrapper .heading{
  display: block;
  background-color: #fff;
  padding: 7px 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
#wrapper .margTop51{
  margin-top: 51px;
}
#wrapper .margTop71{
  margin-top: 71px;
}
#wrapper .margTop101{
  margin-top: 101px;
}

#wrapper{
	margin: 0px;
	padding: 0px;
	display: block;
	position: relative;
}

.header{f
  display: block;
}
#wrapper .logo{
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}
#wrapper .logo img{
  max-width: 160px;
}
#wrapper .front_menubar{
  display: block;
  border: none;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: #eee;
}
.front_menubar .nav>li>a {
  position: relative;
  display: block;
  color: #000;
  font-size: 15px;
  padding: 4px 15px;
  margin: 12px 0;
  font-weight: 500;
}
.front_menubar .nav>li>a:focus, 
.front_menubar .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.sectionpanel{
  padding: 55px 0;
}
.sectionpanel:after {
  left: 0;
  right: 0;
  content: '';
  height: 50px;
  bottom: 100%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 0;
}


.sliderpanel{
  display: block;
  padding: 40px 0;
}
.sliderpanel .listpoint {
  margin: 30px 0;
}
.sliderpanel .listpoint li{
  font-size: 17px;
}


.listpoint{
  display: inline-block;
  width: 100%;
}
#wrapper .listpoint li {
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  letter-spacing: 1px;
  color: #000;
}
.listpoint li:before {
  content: "\f120";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ef5a36;
  padding-right: 10px;
  font-size: 15px;
}

.sliderpanel .imglaptop{
  margin-top: 20px;
}
.sectionpanel{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 45px 0px;
  position: relative;
  overflow: hidden;
}
.sectionpanel:after {
  left: 0;
  right: 0;
  content: '';
  height: 50px;
  bottom: 100%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 0;
}


#wrapper .registerBtn{
  font-size: 17px;
  padding: 10px 40px;
  border-radius: 30px;
}

.listpoints{
  display: block;
}
.listpoints li{
  text-align: center;
}
#wrapper .listpoints li .points{
  font-size: 70px;
  color: #eb4f3490;
  font-weight: bolder; 
}
#wrapper .listpoints li h3{
  color: #123;
}
#wrapper .listpoints li p{
  letter-spacing: 1px;
  font-size: 15px;
  color: #777;
}

.listfeature{
  display: inline-block;
  width: 100%;
}
#wrapper .listfeature li {
  min-height: 55px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  letter-spacing: 1px;
  color: #000;
}
.listfeature li:before {
  content: "\f140";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ef5a36;
  padding-right: 10px;
  font-size: 15px;
}

#wrapper .imgup{
  max-width: 100%;
  margin-top: 80px;
}



.pricingPanel{
  display: block;

}

.listprice{
  display: inline-block;
  width: 100%;
}
.listprice li{
  color: #fff;
  padding: 30px 15px;
  min-height: 230px;
}
#wrapper .listprice li .ht3{
  color: #fff;
  margin-bottom: 20px;
}
#wrapper .listprice li p{
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.listprice li{
  background-color: #f2bf5e; 
}
.listprice li:nth-child(2){
  background-color: #ee5e5e; 
}
.listprice li:nth-child(3){
  background-color: #526eb8; 
}
.listprice li:nth-child(4){
  background-color: #75cca8; 
}


.CommercePro{

}

.listPro{
  display: inline-block;
  width: 100%;
}
.listPro .imgbox{
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.listPro .imgbox img{
  min-width: 100%;
  min-height: 100%;
}
.listPro .contentDiv{
  position: relative;
  z-index: 2;
}
.listPro .rebtn{
  border-radius: 0px;
  margin-top: -22px;
}
.listPro h3{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
#wrapper .listPro p{
  font-size: 16px;
}
#wrapper .listPro .more{
  color: #000;
  margin-top: 15px; 
  display: inline-block;
}

.contactINfo{
}

.formbox{
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.formbox input.form-control{
  height: 40px;
}
.formbox .btn{
  height: 40px;
}















